{% extends "base.html" %}


{% block content %}
	<style>
		.black-color {
			color: #000;
		}
		.diplomatic-blue-color {
			color: #1D1F2A;
		}

	</style>
	<!-- ================ HEADER-TITLE ================ -->
	<div id="prodcut-vue-app">
	<section class="s-header-title">
		<div class="container">
			<h4 class="black-color text-capitalize letter-space-value line-gap fw-bold"><b class="main-color">Model</b> Details</b></h4>
		</div>
	</section>
	<!-- ============== HEADER-TITLE END ============== -->

	<!-- ============== S-SINGLE-PRODUCT ============== -->
	<section class="s-single-product" >
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7">
					<!--===== SLIDER-SINGLE-FOR =====-->
					<div class="slider-single-for">
						<div v-for="image in product_data.image_urls"   class="slide-single-for" >
							<a :href="image" class="single-for-img" data-fancybox="prod1">
								<img :src="image" alt="img">
							</a>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-FOR END ===-->
					<!--===== SLIDER-SINGLE-NAV =====-->
					<div class="slider-single-nav">
						<div class="slide-single-nav" v-for="image in product_data.image_urls" :key="image">
							<div class="single-nav-img">
								<img :src="image" alt="img">
							</div>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-NAV END ===-->
				</div>
				<div class="col-12 col-md-5 single-shop-left">
					<h4 class="title text-capitalize">Corinto Arrow in <b :class="{'diplomatic-blue-color': product_data.color === 'diplomatic blue', 'black-color': product_data.color === 'black'}"
																			>[[ product_data.color ]]</b></h4>
					<p>[[ product_data.description1 ]]</p><br>
					<p>[[ product_data.description2 ]]</p>
					<h6 class="mt-4">Available in 2 Variants</h6>
					<div class="d-flex mt-3 align-items-center">
						<a @click="changeProductVarient('black')" class="hover-div" id="hoverDivArrowBlack" >
							<div :class="{'border-bg': true, 'float-up': true, 'active': product_data.color === 'black'}">
								<div class="color-bg arrow-bg-1"></div>
							</div>
						</a>
						<div id="arrowBlackMessageBox" class="message-box message-box-1"><i class="bi bi-circle-fill me-2" style="color: #0A0C10;"></i>Black Color</div>

						<a @click="changeProductVarient('diplomatic blue')" class="hover-div" id="hoverDivArrowBlue" >
							<div :class="{'border-bg': true, 'ms-3': true, 'float-up': true, 'active': product_data.color === 'diplomatic blue'}">
								<div class="color-bg arrow-bg-2"></div>
							</div>
						</a>
						<div id="arrowBlueMessageBox" class="message-box message-box-2"><i class="bi bi-circle-fill me-2" style="color: #1D1F2A;"></i>Diplomatic Blue</div>
					</div>
					<a href="#" class="btn mt-5"  data-bs-toggle="modal" data-bs-target="#productContactModal"><span>Enquire Now</span></a>
				</div>
			</div>
		</div>
	</section>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
		var hoverDivArrowBlack = document.getElementById("hoverDivArrowBlack");
		var arrowBlackMessageBox = document.getElementById("arrowBlackMessageBox");

		var hoverDivArrowBlue = document.getElementById("hoverDivArrowBlue");
		var arrowBlueMessageBox = document.getElementById("arrowBlueMessageBox");

		hoverDivArrowBlack.addEventListener("mouseover", function() {
			arrowBlackMessageBox.style.display = "block";
		});
		hoverDivArrowBlack.addEventListener("mouseout", function() {
			arrowBlackMessageBox.style.display = "none";
		});

		hoverDivArrowBlue.addEventListener("mouseover", function() {
			arrowBlueMessageBox.style.display = "block";
		});
		hoverDivArrowBlue.addEventListener("mouseout", function() {
			arrowBlueMessageBox.style.display = "none";
		});

		});
	</script>

	<!-- ============ S-SINGLE-PRODUCT END ============ -->

	<!--=============== SINGLE-SHOP-TABS ===============-->
	<section class="single-shop-tabs">
		<div class="container">
			<div class="tab-wrap">
				<ul class="tab-nav product-tabs">
					<li class="item" rel="tab1"><span>Description</span></li>
					<li class="item" rel="tab3"><span>Q&A</span></li>
				</ul>
				<div class="tabs-content">
					<div class="tab tab1">
						<div class="accessories-detail">
							<h2 class="black-color">Technical <b class="main-color">Insights</b> - Accessory & Descriptions</h2>
							<div class="row">
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Tire</p>
										<h6 class="black-color mt-2">26 x 1 3/8 - 700x35</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Wheel Size</p>
										<h6 class="black-color mt-2">	28" Wheels 26" Wheels</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Rims</p>
										<h6 class="black-color mt-2">Polished anodized R</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Spokes</p>
										<h6 class="black-color mt-2">Stainless Steel</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Fork</p>
										<h6 class="black-color mt-2">Steel</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Piston</p>
										<h6 class="black-color mt-2">Rod brakes</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Hubs</p>
										<h6 class="black-color mt-2">Alloy</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Knobs</p>
										<h6 class="black-color mt-2">Rubber</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Saddle</p>
										<h6 class="black-color mt-2">Brooks</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Carter</p>
										<h6 class="black-color mt-2">R whole</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Kickstand</p>
										<h6 class="black-color mt-2">Single kickstand</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Pedals</p>
										<h6 class="black-color mt-2">Taurus Pedals</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Height</p>
										<h6 class="black-color mt-2">26 3/8 H. 54CM / 28"H.56 CM / 28"H.60CM</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Gears</p>
										<h6 class="black-color mt-2">Single gear 1S Gear Hub</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Color</p>
										<h6 class="black-color mt-2">[[ product_data.color ]]</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Material</p>
										<h6 class="black-color mt-2">Jointed steel</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Materiale</p>
										<h6 class="black-color mt-2">Acciaio a congiunzioni</h6>
									</div>
								</div>
								<div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Other</p>
										<h6 class="black-color mt-2">wooden circle + taurus bell + bell</h6>
									</div>
								</div>
                                <div class="col-lg-3 mb-3">
									<div class="card float-up">
										<p class="text-color"><i class="bi bi-circle-fill me-2 main-color"></i>Pedal assistance</p>
										<h6 class="black-color mt-2">No</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="tab tab3">
						<div class="faq-item">
							<h5 class="title"><span>I already own a bike. Why do I need bike share?</span></h5>
							<p>The power of enabling one-way trips rather than a forced round trip due to having a personal vehicle is transformative. Bike share opens up mobility options that weren’t previously convenient and makes public transit more viable. It also enables greater access to multi-modal trips where you may use bike share for the first part of your trip, but may take the trolley, a car service or even catch a ride with a friend on the way home.</p>
						</div>
						<div class="faq-item">
							<h5 class="title"><span>Tell me about the bikes.</span></h5>
							<p>Our smart-bikes from Social Bicycles (SoBi) have brains! This sets them apart from other bike-share systems. On the back of the bike is a GPS-enabled, solar-powered panel with an on-board lock.</p>
							<p>With this panel, you can check out the bike, unlock and lock it, put it on hold and report a problem. It will even let you know how many miles you rode and how many calories you burned by logging into your Social Bicycles account.</p>
							<p>One of our favorite features on our bikes is the chainless shaft drive. You won’t have to worry about your pants getting caught or getting greasy! They also have nifty extras like 3 speeds, an adjustable seat post, front and rear lights that illuminate automatically, a large, full-sized basket, puncture resistant tires and a bell (just above the left hand grip – give it a turn!).</p>
						</div>
						<div class="faq-item">
							<h5 class="title"><span>What are Coast Hub Stations and Park and Go racks?</span></h5>
							<p>A Coast Hub station is where you go to find, check out and return a bike. It’s equipped with bikes and racks that the bikes are locked to.</p>
							<p>Locking outside of a station will incur a $3 convenience fee. You’ll also see designated Park and Go racks at businesses around town. This is free Coast parking, so feel free to park here as well!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============= SINGLE-SHOP-TABS END =============-->
	<!--============= Other Products =============-->
    <section class="s-single-product">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="black-color text-capitalize letter-space-value line-gap fw-bold"><b class="main-color">Related</b> Products</b></h4>
                </div>
            </div>
            <div class="row">
				<div class="col-12 col-md-3" v-if="product_data.color != 'black'">
                    <div class="single-shop-item">
                        <div class="shop-item-img">
                            <img src="{{ url_for('static', filename='img/models/arrow/black/0.jpg') }}" alt="img" style="height: 200px;">
                            <div class="shop-item-hover">
                                <a href="{{ url_for('static', filename='img/models/arrow/black/0.jpg') }}" class="item-popup" data-fancybox="prod1"><i class="bi bi-search"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-content">
                            <h6 class="black-color">Corinto Arrow - Black</h6>
                            <p class="black-color">The Corinto Arrow is a classic city bike with a modern twist. The Arrow is a comfortable and stylish bike that is perfect for city riding.</p>

                            <div class="action-btn" style=" margin-top: 10px;">
                                <a href="#" class="btn"><span>Know More</span></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" v-if="product_data.color != 'diplomatic blue'">
                    <div class="single-shop-item">
                        <div class="shop-item-img">
                            <img src="{{ url_for('static', filename='img/models/arrow/diplomatic-blue/0.jpg') }}" alt="img" style="height: 200px;">
                            <div class="shop-item-hover">
                                <a href="{{ url_for('static', filename='img/models/arrow/diplomatic-blue/0.jpg') }}" class="item-popup" data-fancybox="prod1"><i class="bi bi-search"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-content">
                            <h6 class="black-color">Corinto Arrow - Diplomatic Blue</h6>
                            <p class="black-color">The Corinto Arrow is a classic city bike with a modern twist. The Arrow is a comfortable and stylish bike that is perfect for city riding.</p>


                            <div class="action-btn" style=" margin-top: 10px;">
                                <a href="#" class="btn"><span>Know More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3" v-if="product_data.color != 'gray'">
                    <div class="single-shop-item">
                        <div class="shop-item-img">
                            <img src="{{ url_for('static', filename='img/models/bow/gray/product-detail-0.jpg') }}" alt="img" style="height: 200px;">
                            <div class="shop-item-hover">
                                <a href="{{ url_for('static', filename='img/models/bow/gray/product-detail-0.jpg') }}" class="item-popup" data-fancybox="prod1"><i class="bi bi-search"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-content">
                            <h6 class="black-color">Corinto Bow - Gray</h6>
                            <p class="black-color">The Corinto Arrow is a classic city bike with a modern twist. The Arrow is a comfortable and stylish bike that is perfect for city riding.</p>


                            <div class="action-btn" style=" margin-top: 10px;">
                                <a href="#" class="btn"><span>Know More</span></a>
                            </div>

                        </div>
                    </div>  
                </div>
                <div class="col-12 col-md-3" v-if="product_data.color != 'tiffany green'">
                    <div class="single-shop-item">
                        <div class="shop-item-img">
                            <img src="{{ url_for('static', filename='img/models/bow/tiffany-green/0.jpg') }}" alt="img" style="height: 200px;">
                            <div class="shop-item-hover">
                                <a href="{{ url_for('static', filename='img/models/bow/tiffany-green/0.jpg') }}" class="item-popup" data-fancybox="prod1"><i class="bi bi-search"></i></a>
                            </div>
                        </div>
                        <div class="shop-item-content">
                            <h6 class="black-color">Corinto Bow - Tiffany Green</h6>
                            <p class="black-color">The Corinto Arrow is a classic city bike with a modern twist. The Arrow is a comfortable and stylish bike that is perfect for city riding.</p>


                            <div class="action-btn" style=" margin-top: 10px;">
                                <a href="#" class="btn"><span>Know More</span></a>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--============= RELATED PRODUCTS END =============-->

	
	<!-- Modal -->
	<div class="modal fade" style="z-index: 999999;" id="productContactModal" tabindex="-1" aria-labelledby="productContactModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-body" v-if="submitted" style="padding: 20px;">
				<!-- Thank you message  -->
				<div class="d-flex justify-content-center">
					<h4 class="fw-lighter text-color mt-2 text-capitalize mb-4">Thank you for reaching out to us!</h4>
				</div>
				<div class="d-flex justify-content-center">
					<p class="black-color text-center mt-4 contact-p">We appreciate your interest and will get back to you as soon as possible.</p>
				</div>
				<div class="d-flex justify-content-center mt-4">
					<button type="button" class="btn close-modal-btn mr-2" data-bs-dismiss="modal"><span>Close</span></button>
					<button type="button" class="btn new-enquiry-btn"  @click="submitted = false"><span>New Enquiry</span></button>
				</div>
			</div>
			<div class="modal-body" v-else>
				<form action="">
					<h4 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need<b class="main-color"> Information?</b> We're Here to <b class="main-color">Help!</b></h4>
					<div class="mb-3">
						<input type="text" class="form-control" id="name" placeholder="Name" v-model="name"required>
					  </div>
					<div class="mb-3">
						<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" v-model="email" required>
					  </div>
					  <div class="mb-3">
						<input type="tel" class="form-control" id="phone" placeholder="Phone number" v-model="phone" required>
					  </div>
					  <div class="mb-4">
						<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." v-model="message" required></textarea>
					  </div>
					  <div class="mb-2">
						<select class="form-control select" style="border-color:#f8825ea9;padding: 10px;" v-model="model"
								id="model" required>
							<option value="" disabled>Select Model</option>
							<option v-for="model in modelList" :key="model" :value="model">
								[[ model ]]
							</option>
						</select>
					  </div>
					  <div class="mb-3">
						<select class="form-control select" style="border-color:#f8825ea9;padding: 10px" v-model="color" v-if="model"
								id="color" required>
							<option value="" disabled>Select Color</option>
							<option v-for="color in colorList" :key="color" :value="color">
								[[ color ]]
							</option>
						</select>
					  </div>
					  <div class="d-flex justify-content-center">
						<button type="button" class="btn close-modal-btn" data-bs-dismiss="modal"><span>Close</span></button>
						  <button  class="btn ms-2" @click.prevent="onSubmitMethod" id="submit-enq-btn-product"
							><span>Send</span></button>
					</div>
					<p class="black-color text-center mt-4 contact-p">Also you can contact us here</p>
					<div class="d-flex also-contact justify-content-center mt-1">
						<a href="tel:+1 647 588 6770" class="black-color"><i class="fa fa-phone main-color me-2"></i>+1 647 588 6770</a>
						<a href="mailto:info@orangecatcycles.com" class="ms-4 black-color"><i class="fa fa-envelope me-2 main-color" aria-hidden="true"></i>info@orangecatcycles.com</a>
					</div>
				</form>
			</div>
		  </div>
		</div>
	  </div>

	</div>

	<!--============= RELATED PRODUCTS END =============-->

	<script>
	const PRODUCT_NAME = 'arrow';  
	const DEFAULT_PRODUCT_VARIENT = '{{ variant }}';

	var app = new Vue({
			el: '#prodcut-vue-app',
			delimiters: ['[[', ']]'],
			data: {
				Message: 'Hello Vue!',
				response_data: [],
				product_data: {},
				name: '',
				email: '',
				phone: '',
				message: '',
				model: '',
				modelList: [],
				color: '',
				colorList: [],
				submitted: false,
				productData: {},
			},
			watch: {
				model: function (val) {
					this.colorList = this.productData[val].map((item) => item.color);
				}
			},
			methods: {
				fetchProductData(){
					axios.get('/get/products/json/'+PRODUCT_NAME)
					.then(response => {
						this.response_data = response.data; // [{color: 'black', image_urls: ['img/product-details-1.jpg'], description: "..."}, ...]
						// conver to lower case
						let default_product_varient = this.response_data.find(product => product.color.toLowerCase() === DEFAULT_PRODUCT_VARIENT);
						this.product_data = default_product_varient;
						$('.slider-single-for').slick('refresh');
						$('.slider-single-nav').slick('refresh');
						$('.s-single-product').slick('refresh');

					})
					.catch(error => {
						console.log(error);
					})
				},
				changeProductVarient(varient){
					window.location.href = '/model/'+PRODUCT_NAME+'/'+varient;
				},
				setProduct(product){
					this.model = product;
					document.getElementById('model').setAttribute('disabled', 'disabled');
				},
				onSubmitMethod(){
					this.loadingBtn(true);
					console.log(this.name, this.email, this.phone, this.message, this.model, this.color);
					if (!this.name || !this.email || !this.phone || !this.message || !this.model || !this.color) {
						Toastify({
							text: "All fields are required!",
							duration: 3000,
							close: true,
							gravity: "bottom",
							position: 'right',
							backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
						}).showToast();
						this.loadingBtn(false);
						return;
					}
					axios.post('/get/enquiry/data', {
						name: this.name,
						email: this.email,
						phone: this.phone,
						model: `${this.model}(${this.color})`,
						message: this.message,
					})
					.then((response) => {
						console.log(response);
						Toastify({
							text: "Your inquiry has been sent successfully!",
							duration: 3000,
							close: true,
							gravity: "bottom",
							position: 'right',
							backgroundColor: "green"
						}).showToast();
						this.name = '';
						this.email = '';
						this.phone = '';
						this.message = '';
						this.model = '';
						this.color = '';
						this.submitted = true;
						this.loadingBtn(false);
					})
					.catch((error) => {
						console.log(error);
						this.loadingBtn(false);
						Toastify({
							text: "Something went wrong!",
							duration: 3000,
							close: true,
							gravity: "bottom",
							position: 'right',
							backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
						}).showToast();
					});
				},
				loadingBtn(state){
					if (state) {
						document.getElementById('submit-enq-btn-product').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...';
						document.getElementById('submit-enq-btn-product').disabled = true;
					} else {
						document.getElementById('submit-enq-btn-product').innerHTML = '<span>Send</span>';
						document.getElementById('submit-enq-btn-product').disabled = false;
					}
				}
			},
			mounted() {
				this.fetchProductData();
				

				// THIS IS A HACK TO REFRESH THE SLIDER AFTER THE IMAGES ARE LOADED
				setTimeout(() => {
						$('.slider-single-for').slick('refresh');
						$('.slider-single-nav').slick('refresh');
						$('.s-single-product').slick('refresh');

					// this.changeProductVarient(DEFAULT_PRODUCT_VARIENT);
				}, 1000);
				axios.get('/static/data/product-data.json')
				.then((response) => {
					console.log(response.data); 
					// data = {products: {model1:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}], model2:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}]}}
					this.productData = response.data.products;
					this.modelList = Object.keys(response.data.products);
					this.setProduct(PRODUCT_NAME);
					this.colorList = this.productData[PRODUCT_NAME].map((item) => item.color);
					this.color = DEFAULT_PRODUCT_VARIENT;
				})
				
				
			}
		})
	</script>

	{% endblock %}
	

	<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="productContactModal" tabindex="-1" aria-labelledby="productContactModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
        <div class="modal-body" v-if="submitted" style="padding: 20px;">
            <!-- Thank you message  -->
            <div class="d-flex justify-content-center">
                <h4 class="fw-lighter text-color mt-2 text-capitalize mb-4">Thank you for reaching out to us!</h4>
            </div>
            <div class="d-flex justify-content-center">
                <p class="black-color text-center mt-4 contact-p">We appreciate your interest and will get back to you as soon as possible.</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn close-modal-btn mr-2" data-bs-dismiss="modal"><span>Close</span></button>
                <button type="button" class="btn new-enquiry-btn"  @click="submitted = false"><span>New Enquiry</span></button>
            </div>
        </div>
		<div class="modal-body" v-else>
			<form action="">
				<h4 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need<b class="main-color"> Information?</b> We're Here to <b class="main-color">Help!</b></h4>
				<div class="mb-3">
					<input type="text" class="form-control" id="name" placeholder="Name" v-model="name"required>
				  </div>
				<div class="mb-3">
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" v-model="email" required>
				  </div>
				  <div class="mb-3">
					<input type="tel" class="form-control" id="phone" placeholder="Phone number" v-model="phone" required>
				  </div>
				  <div class="mb-4">
					<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." v-model="message" required></textarea>
				  </div>
                  <div class="mb-3">
                    <select class="form-control select" style="border-color:#f8825ea9;" v-model="model"
                            id="model" required>
                        <option value="" disabled>Select Model</option>
                        <option v-for="model in modelList" :key="model" :value="model">
                            [[ model ]]
                        </option>
                    </select>
				  </div>
                  <div class="mb-3">
                    <select class="form-control select" style="border-color:#f8825ea9;" v-model="color" v-if="model"
                            id="color" required>
                        <option value="" disabled>Select Color</option>
                        <option v-for="color in colorList" :key="color" :value="color">
                            [[ color ]]
                        </option>
                    </select>
				  </div>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn close-modal-btn" data-bs-dismiss="modal"><span>Close</span></button>
                      <button  class="btn ms-2" @click.prevent="onSubmitMethod" id="submit-enq-btn-product"
                        ><span>Send</span></button>
                </div>
                <p class="black-color text-center mt-4 contact-p">Also you can contact us here</p>
                <div class="d-flex also-contact justify-content-center mt-1">
                    <a href="tel:+1 647 588 6770" class="black-color"><i class="fa fa-phone main-color me-2"></i>+1 647 588 6770</a>
                    <a href="mailto:info@orangecatcycles.com" class="ms-4 black-color"><i class="fa fa-envelope me-2 main-color" aria-hidden="true"></i>info@orangecatcycles.com</a>
                </div>
			</form>
		</div>
	  </div>
	</div>
  </div>