<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Orange Cat</title>
    <!-- =================== META =================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- =================== BOOTSTRAP =================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- =================== STYLE =================== -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.jqZoom.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vue-magnify.css') }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!--==================== SCRIPT	====================-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=your_api_key"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lazyload.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.jqZoom.js') }}"></script>
    <script src="/static/js/imageCorp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    

    <!-- =================== VUE =================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='js/vue-magnify.js') }}"></script>

    <style>
        .active {
        /* font color should be orange */
        color: rgb(255, 140, 0) !important;
        /* orange underline */
        border-bottom: 2px solid rgb(255, 140, 0) !important;
    }
    @media (max-width: 991px){
        .active{border-bottom: 0!important;}

    }
    </style>
</head>

<body id="home" class="inner-scroll">
    <!--================ PRELOADER ================-->
    <div class="preloader-cover">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!--============== PRELOADER END ==============-->
    <!-- ================= HEADER ================= -->
    <header class="header">
        <a href="#" class="nav-btn">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="top-panel">
            <div class="container">
                <div class="top-panel-cover">
                    <ul class="header-cont">
                        <li><a href="tel:+912345687"><i class="fa fa-phone"></i>+9123 456 87</a></li>
                        <li><a href="mailto:info@orangecat.com"><i class="fa fa-envelope"
                                    aria-hidden="true"></i>info@orangecat.com</a></li>
                    </ul>
                    <ul class="icon-right-list">
                        <li><a href="#"><i class="fa fa-facebook-f icon-top"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram icon-top"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter icon-top"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest icon-top"></i></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="container">
                <style>
                    #dropdownMenuButton1 {
                        cursor: pointer;
                    }
                    @media (max-width: 991px){
                        #dropdownMenuButton1{margin-left: 15px;}
                    }
                </style>
                <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}"
                        class="logo-img" alt="logo"></a>
                <nav class="nav-menu">
                    <ul class="nav-list">
                        
                        <li><a href="{{ url_for('index') }}" {% if request.path == url_for('index') %} class="active" {% endif %}>Home</a></li>
                        <li><a href="{{ url_for('about') }}" {% if request.path == url_for('about') %} class="active" {% endif %}>About</a></li>
                        <li><a href="{{ url_for('view_products') }}" {% if request.path == url_for('view_products') %} class="active" {% endif %}>Bikes</a></li>
                        <li><a href="{{ url_for('photo_gallery') }}" {% if request.path == url_for('photo_gallery') %} class="active" {% endif %}>Photo Gallery</a></li>
                        <!-- <li><a href="{{ url_for('video_gallery') }}" {% if request.path == url_for('video_gallery') %} class="active" {% endif %}>Video Gallery</a></li> -->
                        <li><a href="{{ url_for('contacts') }}" {% if request.path == url_for('contacts') %} class="active" {% endif %}>Contacts</a></li>
                        <li>
                            <div class="dropdown">
                                <i class="fa fa-user-circle-o" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 25px; padding: 2px;" aria-hidden="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% if current_user.role == 'admin' %}
                                        <li><a class="dropdown-item" href="{{ url_for('admin_panel') }}">Admin Panel</a></li>
                                    {% endif %}
                                    {% if current_user.is_authenticated %}
                                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                                    {% endif %}
                                </ul>
                              </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   <script>
    	$( 'body' ).on('click', '.nav-btn',  function( event ){
	$( event.currentTarget ).toggleClass('active');
	$('.nav-menu').toggleClass('active');
	$( 'body' ).toggleClass('no-scroll');
	return false;
	});

	$( window ).on('resize.myTemplate', function(){
	$('body')[ ( $(this).width() <= 767 ) ? 'addClass' : 'removeClass' ]('isMobile')
	}).trigger( 'resize.myTemplate' );

	$( 'body' ).on('click', '.dropdown>a', function( event){
	if( ! $('body.isMobile')[0] ){
		return;
	}

	var $thisLi = $( event.currentTarget ).parents( 'li' ),
		$thisLiActive = $thisLi.hasClass( 'dropdown-active' );

	$('.dropdown-active').removeClass('dropdown-active').children('ul').slideUp('slow');

	if( ! $thisLiActive ){
		$thisLi.addClass('dropdown-active');
		$thisLi.children('ul').slideDown('slow');
	}

	return false;
	});

	$( 'body' ).on( 'mouseenter', '.dropdown', function(event){
	if( $('body.isMobile')[0] ){
		return;
	}

	var menuItem = $( event.currentTarget );

	if( menuItem[0].timeOutMenu ){
		clearTimeout( menuItem[0].timeOutMenu );
	}

	menuItem.addClass('active');
	}).on( 'mouseleave', '.dropdown', function( event ){
	if( $('body.isMobile')[0] ){
		return;
	}

	var menuItem = $( event.currentTarget );

	menuItem[0].timeOutMenu = setTimeout( function(){
		menuItem.removeClass('active');
	}, 500 );
	});


   </script>
    <!-- =============== HEADER END =============== -->

    {% block content %}
    {# instert here #}
    {% endblock %}

    <!--==================== FOOTER ====================-->
    <section class="footer-links">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mt-5 mt-md-0">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="img-fluid footer-logo">
                    <p class="text-capitalize white-color"> Explore our collection and start your unforgettable journey
                        with Orange Cat bicycles.</p>
                    <div class="d-flex mt-3">
                        <a href="#" class="me-3"><i class="fa fa-facebook-f icon-top"></i></a>
                        <a href="#" class="me-3"><i class="fa fa-instagram icon-top"></i></a>
                        <a href="#" class="me-3"><i class="fa fa-twitter icon-top"></i></a>
                        <a href="#" class="me-3"><i class="fa fa-pinterest icon-top"></i></i></a>
                    </div>
                </div>
                <div class="col-lg-2 mt-5 mt-md-0">
                    <h6 class="text-capitalize white-color">important links</h6>
                    <ul class="mt-3 footer-items">
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Bike</a></li>
                        <li><a href="">Photo Gallery</a></li>
                        <li><a href="">Video Gallery</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 mt-5 mt-md-0">
                    <h6 class="text-capitalize white-color">contact info</h6>
                    <ul class="mt-3 footer-items">
                        <li><a href=""><i class="bi bi-geo-alt"></i>&nbsp;&nbsp;demo store United States</a></li>
                        <li><a href=""><i class="bi bi-telephone"></i>&nbsp;&nbsp;(+33)7 35 55 31 15</a></li>
                        <li><a href=""><i class="bi bi-envelope"></i>&nbsp;&nbsp;demo@demo.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 mt-5 mt-md-0">
                    <h6 class="text-capitalize white-color">New letter</h6>
                    <p class="white-color mt-3">Stay up to date with the latest news, updates, and exclusive offers by
                        subscribing to our newsletter</p>
                    <form action="" class="mt-3 d-flex">
                        <div class="mb-2">
                            <input type="email" class="form-control footer-input" id="email-address"
                                placeholder="Enter Your Email Address">
                        </div>
                        <button type="submit" class="btn submit-btn"><span>Subscribe</span></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================== FOOTER END ==================-->

    <!--===================== TO TOP =====================-->
    <a class="to-top" href="#home">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </a>
    <!--=================== TO TOP END ===================-->
    

</body>

</html>