{% extends "base.html" %}


{% block content %}
<!-- Your code here -->
<section class="product-details">

	<!--================= our-strategy start =================-->
	<section class="product-landing">
		<div class="container">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active button-1" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2" class="button-2"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row justify-content-center align-items-center product-info">
							<div class="col-lg-4">
								<div class="product-description">
									<h4
										class="text-capitalize black-color text-center text-md-start letter-space-value">
										Corinto <b class="main-color">Arrow</b></h4>
									<p class="text-justify mt-3">Corinto Arrow, with its sleek and strong design,
										combines a timeless feel with modern reliability. The longer and narrower
										saddle, and the wider distance between the padding and the top tube, ensure a
										dynamic riding experience for both expert and leisure riders. Its frame,
										composed of steel assembled and welded by hand, is durable yet finely wrought
										resulting in a functional accessory that allows its owners to ride with
										elegance. </p>

										<div class="d-flex mt-3 align-items-center" >
											<a href="{{ url_for('view_model_arrow', variant='black') }}">
												<div class="border-bg float-up" id="arrow-color-1">
													<div class="color-bg color-bg-1 arrow-bg-1"></div>
												</div>
												<div class="color-name-box-1">
													<p><i class="bi bi-circle-fill me-2" style="color: #0A0C10;"></i>Black Color</p>
												</div>
											</a>
											<a href="{{ url_for('view_model_arrow', variant='diplomatic blue') }}">
												<div class="border-bg ms-3 float-up" id="arrow-color-2">
													<div class="color-bg color-bg-2 arrow-bg-2"></div>
												</div>
												<div class="color-name-box-2">
													<p><i class="bi bi-circle-fill me-2" style="color: #6D8085;"></i>Diplomatic Blue</p>
												</div>
											</a>
										</div>
									<div
										class="d-flex mt-md-3  align-items-center justify-content-center justify-content-md-start">
										<a href="{{ url_for('view_model_arrow', variant='black') }}" class="btn mt-4"><span>Know
												More</span></a>
										<a href="#" class=" mt-4 ms-3"
											data-bs-toggle="modal" data-bs-target="#productContactModal" style="z-index: 10000;" onclick="productContactModal.setProduct('arrow')"
											>Enquire Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-8 mt-5 mt-md-0">
								<div class="product-image" style="margin-top: 137px;">
									<!-- <img src="{{ url_for('static', filename='img/home.png') }}" alt="about image" class="img-fluid about-img"> -->
									<img class="  about-img half-image first-image" id="arrow-image-1" style="cursor: pointer;"
										src="{{ url_for('static', filename='img/test123.png') }}" alt="">
									<img class="  about-img half-image second-image" id="arrow-image-2" style="cursor: pointer;"
										src="{{ url_for('static', filename='img/test123.png') }}" alt="">
									<div class="background-color-product"></div>
								</div>
								<script>
									// on click go to the product page
									function addEventListeners(imageId, colorId, variant) {
										document.getElementById(imageId).addEventListener('click', function () {
											url = `/model/arrow/${variant}`;
											window.location.href = url;

										});
										document.getElementById(imageId).addEventListener('mouseover', function () {
											document.getElementById(colorId).classList.add('active');
										});
										document.getElementById(imageId).addEventListener('mouseleave', function () {
											document.getElementById(colorId).classList.remove('active');
										});
									}

									addEventListeners('arrow-image-1', 'arrow-color-1', 'black');
									addEventListeners('arrow-image-2', 'arrow-color-2', 'diplomatic blue');

								</script>

								<script>
									document.querySelector('.color-bg-1').addEventListener('mouseover', function() {
										document.querySelector('.color-name-box-1').style.display = 'block';
									});

									document.querySelector('.color-bg-1').addEventListener('mouseout', function() {
										document.querySelector('.color-name-box-1').style.display = 'none';
									});
								</script>

								<script>
									document.querySelector('.color-bg-2').addEventListener('mouseover', function() {
										document.querySelector('.color-name-box-2').style.display = 'block';
									});

									document.querySelector('.color-bg-2').addEventListener('mouseout', function() {
										document.querySelector('.color-name-box-2').style.display = 'none';
									});
								</script>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row justify-content-center align-items-center product-info">
							<div class="col-lg-4">
								<div class="product-description">
									<h4
										class="text-capitalize black-color text-center text-md-start letter-space-value">
										Corinto <b class="main-color">Bow</b></h4>
									<p class="text-justify mt-3">Corinto Bow was designed to reflect a softer style with
										curves that allow a gentle mount and dismount. The curved top bar renders this
										product ideal for those that find it difficult to raise their legs or do not
										want to compromise on their fashion choices but still use an environmentally
										conscious way of moving around town. With the shorter and larger saddle, and the
										reduced length from the padding to the top bar, Corinto Bow is a perfect choice
										for those who seek an elegant and comfortable riding experience.
									</p>
									<div class="d-flex mt-3 align-items-center">
										<a href="{{ url_for('view_model_bow', variant='gray') }}">
											<div class="border-bg float-up" id="bow-color-1">
												<div class="color-bg color-bg-3 bow-bg-1" id="hoverDiv"></div>
											</div>
											<div class="color-name-box-3">
												<p><i class="bi bi-circle-fill me-2" style="color: #191e28;"></i>Gray Color</p>
											</div>
										</a>
										<a href="{{ url_for('view_model_bow', variant='tiffany green') }}">
											<div class="border-bg ms-3 float-up" id="bow-color-2">
												<div class="color-bg color-bg-4 bow-bg-2"></div>
											</div>
											<div class="color-name-box-4">
												<p><i class="bi bi-circle-fill me-2" style="color: #7AB9B4;"></i>Tiffany Green</p>
											</div>
										</a>
									</div>

									<script>
										document.querySelector('.color-bg-3').addEventListener('mouseover', function() {
											document.querySelector('.color-name-box-3').style.display = 'block';
										});
	
										document.querySelector('.color-bg-3').addEventListener('mouseout', function() {
											document.querySelector('.color-name-box-3').style.display = 'none';
										});
									</script>

									<script>
										document.querySelector('.color-bg-4').addEventListener('mouseover', function() {
											document.querySelector('.color-name-box-4').style.display = 'block';
										});
	
										document.querySelector('.color-bg-4').addEventListener('mouseout', function() {
											document.querySelector('.color-name-box-4').style.display = 'none';
										});
									</script>

									<div
										class="d-flex mt-md-3 align-items-center  justify-content-center justify-content-md-start">
										<a href="{{ url_for('view_model_bow', variant='gray') }}" class="btn mt-4"><span>Know More</span></a>
										<a href="#" class=" mt-4 ms-3" data-bs-toggle="modal"
											data-bs-target="#productContactModal" style="z-index: 10000;" onclick="productContactModal.setProduct('bow')"
											>Enquire Now</a>
									</div>
								</div>
							</div>
							<div class="col-lg-8 mt-5 mt-md-0">
								<div class="product-image">
									<!-- <img src="{{ url_for('static', filename='img/home.png') }}" alt="about image" class="img-fluid about-img"> -->
									<img class="  about-img half-image first-image" id="bow-image-1" style="cursor: pointer;"
										src="{{ url_for('static', filename='img/home.png') }}" alt="">
									<img class="  about-img half-image second-image" id="bow-image-2" style="cursor: pointer;"
										src="{{ url_for('static', filename='img/home.png') }}" alt="">
									<div class="background-color-product"></div>
								</div>
								<script>
									addEventListeners('bow-image-1', 'bow-color-1', 'gray');
									addEventListeners('bow-image-2', 'bow-color-2', 'tiffany green');
								</script>

								<script>
									const hoverDiv = document.getElementById('hoverDiv');
									const messageBox = document.getElementById('messageBox');

									hoverDiv.addEventListener('mousemove', (e) => {
										messageBox.style.top = `${e.clientY + 10}px`;
										messageBox.style.left = `${e.clientX + 10}px`;
									});
								</script>

								<style>
									.background-color-product {
										position: absolute;
										background-color: #F1EFEF;
										max-width: 70%;
										padding: 100%;
										z-index: -10;
										top: -250px;
									}

									.half-image {
										position: absolute;
										transition: transform 0.5s ease;
										max-width: 80%;
										left: 74px;
										top: -281px;
										padding: 85px;
									}

									.first-image {
										clip-path: polygon(0 0, 100% 0, 0 100%);
										filter: grayscale(100%);
										filter: contrast(00%);
									}

									.second-image {
										clip-path: polygon(100% 100%, 100% 0, 0 100%);
									}

									.half-image:hover {
										transform: scale(1.2);
										z-index: 1;
									}
									@media (max-width: 991px){
										.background-color-product{margin-top: 300px;}
										.half-image {max-width: 100%;left: auto;    top: -6px;}
										.second-image{max-width: 100%;left: auto;    top: -6px;}
										.first-image{max-width: 100%;left: auto;    top: -6px;}
										.product-landing .product-info{margin-top: auto;}
										button, button.btn{min-width: auto!important;}
										.product-landing .carousel-indicators .button-1{width: 60px;height: 60px;}
										.product-landing .carousel-indicators .button-2{height: 60px;}
										.product-image{margin-top: 276px;}
										.half-image{padding: 35px;}
										.background-color-product{top: -322px;}
										.active { border-bottom: 1px solid #f45f30!important; }
										.footer-links button, button.btn{min-width: 110px!important;}
									}
								</style>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>
	<!--================ our-strategy end ================-->



</section>

<script>
	const sections = document.querySelectorAll('section');
	document.addEventListener("scroll", function () {
		sections.forEach(section => {
			const sectionTop = section.getBoundingClientRect().top;
			const windowHeight = window.innerHeight;

			if (sectionTop < windowHeight * 0.75) {
				section.classList.add('animate-on-scroll');
			} else {
				section.classList.remove('animate-on-scroll');
			}
		});
	});
</script>

<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="productContactModal" tabindex="-1" aria-labelledby="productContactModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
        <div class="modal-body" v-if="submitted" style="padding: 20px;">
            <!-- Thank you message  -->
            <div class="d-flex justify-content-center">
                <h4 class="fw-lighter text-color mt-2 text-capitalize mb-4">Thank you for reaching out to us!</h4>
            </div>
            <div class="d-flex justify-content-center">
                <p class="black-color text-center mt-4 contact-p">We appreciate your interest and will get back to you as soon as possible.</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn close-modal-btn mr-2" data-bs-dismiss="modal"><span>Close</span></button>
                <button type="button" class="btn new-enquiry-btn"  @click="submitted = false"><span>New Enquiry</span></button>
            </div>
        </div>
		<div class="modal-body" v-else>
			<form action="">
				<h4 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need<b class="main-color"> Information?</b> We're Here to <b class="main-color">Help!</b></h4>
				<div class="mb-3">
					<input type="text" class="form-control" id="name" placeholder="Name" v-model="name"required>
				  </div>
				<div class="mb-3">
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" v-model="email" required>
				  </div>
				  <div class="mb-3">
					<input type="tel" class="form-control" id="phone" placeholder="Phone number" v-model="phone" required>
				  </div>
				  <div class="mb-4">
					<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." v-model="message" required></textarea>
				  </div>
                  <div class="mb-3">
                    <select class="form-control select" style="border-color:#f8825ea9;" v-model="model"
                            id="model" required>
                        <option value="" disabled>Select Model</option>
                        <option v-for="model in modelList" :key="model" :value="model">
                            [[ model ]]
                        </option>
                    </select>
				  </div>
                  <div class="mb-3">
                    <select class="form-control select" style="border-color:#f8825ea9;" v-model="color" v-if="model"
                            id="color" required>
                        <option value="" disabled>Select Color</option>
                        <option v-for="color in colorList" :key="color" :value="color">
                            [[ color ]]
                        </option>
                    </select>
				  </div>
                  <div class="d-flex justify-content-center">
                    <button type="button" class="btn close-modal-btn" data-bs-dismiss="modal"><span>Close</span></button>
                      <button  class="btn ms-2" @click.prevent="onSubmitMethod" id="submit-enq-btn-product"
                        ><span>Send</span></button>
                </div>
                <p class="black-color text-center mt-4 contact-p">Also you can contact us here</p>
                <div class="d-flex also-contact justify-content-center mt-1">
                    <a href="tel:+912345687" class="black-color"><i class="fa fa-phone main-color me-2"></i>+9123 456 87</a>
                    <a href="mailto:info@orangecat.com" class="ms-4 black-color"><i class="fa fa-envelope me-2 main-color" aria-hidden="true"></i>info@orangecat.com</a>
                </div>
			</form>
		</div>
	  </div>
	</div>
  </div>
<script>
	var productContactModal = new Vue({
	el: '#productContactModal',
	delimiters: ['[[', ']]'],
	data: {
		// data here
		name: '',
		email: '',
		phone: '',
		message: '',
		model: '',
		modelList: [],
		color: '',
		colorList: [],
		submitted: false,
		productData: {},
	},
	watch: {
		model: function (val) {
			this.colorList = this.productData[val].map((item) => item.color);
		}
	},
	methods: {
		// methods here
		setProduct(product){
			this.model = product;
			document.getElementById('model').setAttribute('disabled', 'disabled');
		},
		onSubmitMethod(){
			this.loadingBtn(true);
			console.log(this.name, this.email, this.phone, this.message, this.model, this.color);
			if (!this.name || !this.email || !this.phone || !this.message || !this.model || !this.color) {
				Toastify({
					text: "All fields are required!",
					duration: 3000,
					close: true,
					gravity: "bottom",
					position: 'right',
					backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
				}).showToast();
				this.loadingBtn(false);
				return;
			}
			axios.post('/get/enquiry/data', {
				name: this.name,
				email: this.email,
				phone: this.phone,
				model: `${this.model}<${this.color}>`,
				message: this.message,
			})
			.then((response) => {
				console.log(response);
				Toastify({
					text: "Your inquiry has been sent successfully!",
					duration: 3000,
					close: true,
					gravity: "bottom",
					position: 'right',
					backgroundColor: "green"
				}).showToast();
				this.name = '';
				this.email = '';
				this.phone = '';
				this.message = '';
				this.model = '';
				this.color = '';
				this.submitted = true;
				this.loadingBtn(false);
			})
			.catch((error) => {
				console.log(error);
				this.loadingBtn(false);
				Toastify({
					text: "Something went wrong!",
					duration: 3000,
					close: true,
					gravity: "bottom",
					position: 'right',
					backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
				}).showToast();
			});
		},
		loadingBtn(state){
			if (state) {
				document.getElementById('submit-enq-btn-product').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...';
				document.getElementById('submit-enq-btn-product').disabled = true;
			} else {
				document.getElementById('submit-enq-btn-product').innerHTML = '<span>Send</span>';
				document.getElementById('submit-enq-btn-product').disabled = false;
			}
		}

	},
	mounted() {
		// mounted here
		axios.get('/static/data/product-data.json')
            .then((response) => {
                console.log(response.data); 
                // data = {products: {model1:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}], model2:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}]}}
                this.productData = response.data.products;
                this.modelList = Object.keys(response.data.products);
            })
	}
	});
</script>

{% endblock %}