{% extends "base.html" %}


{% block content %}
<!-- Your code here -->
<section class="product-details">

	<!--================= our-strategy start =================-->
<section class="product-landing">
	<div class="container">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active button-1" aria-current="true" aria-label="Slide 1"></button>
			  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="button-2"></button>
			</div>
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<div class="row justify-content-center align-items-center product-info">
					<div class="col-lg-4">
						<div class="product-description">
							<h4 class="text-uppercase black-color text-center text-md-start">Corinto Deluxe Donna</h4>
							<p class="text-justify mt-3">The Corinto Deluxe Donna boasts a striking design that captivates with its sleek lines and graceful curves. Every aspect of this bicycle is thoughtfully considered, from its lightweight frame to its premium components, ensuring an exceptional riding experience.</p>
							<h4 class="text-uppercase black-color mt-3 text-center text-md-start">$1200</h4>
							<div class="d-flex mt-3  align-items-center justify-content-center justify-content-md-start">
								<a href="#" class="btn mt-4"><span>Shop Now</span></a>
								<a href="#" class=" mt-4 ms-3">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-8 mt-5 mt-md-0">
						<div class="product-image">
							<img src="{{ url_for('static', filename='img/home.png') }}" alt="about image" class="img-fluid about-img">
						</div>
					</div>
				</div>
			  </div>
			  <div class="carousel-item">
				<div class="row justify-content-center align-items-center product-info">
					<div class="col-lg-4">
						<div class="product-description">
							<h4 class="text-uppercase black-color text-center text-md-start">Corinto Deluxe Donna</h4>
							<p class="text-justify mt-3">The Corinto Deluxe Donna boasts a striking design that captivates with its sleek lines and graceful curves. Every aspect of this bicycle is thoughtfully considered, from its lightweight frame to its premium components, ensuring an exceptional riding experience.</p>
							<h4 class="text-uppercase black-color mt-3 text-center text-md-start">$1200</h4>
							<div class="d-flex mt-3 align-items-center  justify-content-center justify-content-md-start">
								<a href="#" class="btn mt-4"><span>Shop Now</span></a>
								<a href="#" class=" mt-4 ms-3">Buy Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-8 mt-5 mt-md-0">
						<div class="product-image">
							<img src="{{ url_for('static', filename='img/home.png') }}" alt="about image" class="img-fluid about-img">
						</div>
					</div>
				</div>
			  </div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
	</div>
</section>
<!--================ our-strategy end ================-->



</section>

<script>
	const sections = document.querySelectorAll('section');
	document.addEventListener("scroll", function() {
		sections.forEach(section => {
			const sectionTop = section.getBoundingClientRect().top;
			const windowHeight = window.innerHeight;

			if (sectionTop < windowHeight * 0.75) {
				section.classList.add('animate-on-scroll');
			} else {
				section.classList.remove('animate-on-scroll');
			}
		});
	});
</script>

{% endblock %}
	

	