{% extends "base.html" %}


{% block content %}
<!-- Your code here -->
	<!--================= CONTACTS-TOP =================-->
	<section class="contacts-top">
		<div class="container">
			<div class="row contact-top-cover">
				<div class="col-12 col-lg-6 contact-img">
					<img src="{{ url_for('static', filename='img/contact/contact-img.jpg') }}" alt="img">
					<p class="mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit vitae lectus maximus commodo.</p>
				</div>
				<div class="col-12 col-lg-6 contact-info">
					<form action="">
						<h5 class="text-center fw-lighter text-capitalize mb-3 text-center">Let's <b class="main-color" style="font-weight: normal;">Talk</b></h5>
						<div class="mb-3">
							<input type="text" class="form-control" id="name" placeholder="Name" required>
						  </div>
						<div class="mb-3">
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" required>
						  </div>
						  <div class="mb-3">
							<input type="tel" class="form-control" id="phone" placeholder="Phone number" required>
						  </div>
						  <div class="mb-4">
							<textarea class="form-control" id="type-message" rows="3" placeholder="Type your message" required></textarea>
						  </div>
							<div class="text-center">
								<button type="submit" class="btn"><span>Send</span></button>
							</div>
					</form>
					
				</div>
			</div>
		</div>
	</section>
	<!--================ CONTACTS-TOP END ================-->

	<!--================ CONTACTS-BLOCK ================-->
	<section class="s-contacts-block">
		<div class="container">
			<div class="row contacts-block">
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/call.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a href="tel:18004886040">1-800-488-6040</a></li>
								<li><a href="tel:18005784090">1-800-578-4090</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/mail.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a href="mailto:team@gmail.com">team@gmail.com</a></li>
								<li><a href="mailto:help@gmail.com">help@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/map.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a class="item-scroll" href="#map">8500, Lorem Street, Chicago, IL, 55030</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============== CONTACTS-BLOCK END ==============-->

	<!--===================== S-MAP =====================-->
	<section class="s-map">
		<!-- <div id="map" class="cont-map google-map"></div> -->
		<div class="container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43040447.538247846!2d-135.55266777294568!3d48.820434632176564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sin!4v1686761709530!5m2!1sen!2sin" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
	<!--=================== S-MAP END ===================-->


{% endblock %}

	

	