{% extends "base.html" %}


{% block content %}
<!-- Your code here -->
	<!--================= CONTACTS-TOP =================-->
	<section class="contacts-top" >
		<div class="container" id="ContactVueApp">
			<div class="row contact-top-cover">
				<div class="col-12 col-lg-6 contact-img  mb-3 mb-md-0">
					<img src="{{ url_for('static', filename='img/contact-image.jpg') }}" alt="img">
					<p class="mt-3 text-justify">We're here to answer all your inquiries and help you find the perfect bike for your journey. Whether you're a seasoned cyclist or a casual rider, our team is dedicated to providing exceptional service. Feel free to drop us a line, and let's pedal towards your biking adventure together!</p>
				</div>
				<div class="col-12 col-lg-6 contact-info" v-if="submitted">
					<div class="d-flex justify-content-center">
						<h4 class="fw-lighter text-color mt-2 text-capitalize mb-4">Thank you for reaching out to us!</h4>
					</div>
					<div class="d-flex justify-content-center">
						<p class="black-color text-center mt-4 contact-p">We appreciate your interest and will get back to you as soon as possible.</p>
					</div>
					<div class="d-flex justify-content-center mt-4">
						<button type="button" class="btn new-enquiry-btn"  @click="submitted = false"
																	><span>New Enquiry</span></button>
					</div>
				</div>
				<div class="col-12 col-lg-6 contact-info" v-else>
					<form action="">
						<h4 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need<b class="main-color"> Information?</b> We're Here to <b class="main-color">Help!</b></h4>
						<div class="mb-3">
							<input type="text" class="form-control" id="name" placeholder="Name" v-model="name"required>
						  </div>
						<div class="mb-3">
							<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" v-model="email" required>
						  </div>
						  <div class="mb-3">
							<input type="tel" class="form-control" id="phone" placeholder="Phone number" v-model="phone" required>
						  </div>
						  <div class="mb-4">
							<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." v-model="message" required></textarea>
						  </div>
						  <div class="mb-3">
							<select class="form-control select" style="border-color:#f8825ea9;" v-model="model"
									id="model" required>
								<option value="" disabled>Select Model</option>
								<option v-for="model in modelList" :key="model" :value="model">
									[[ model ]]
								</option>
							</select>
						  </div>
						  <div class="mb-3">
							<select class="form-control select" style="border-color:#f8825ea9;" v-model="color" v-if="model"
									id="color" required>
								<option value="" disabled>Select Color</option>
								<option v-for="color in colorList" :key="color" :value="color">
									[[ color ]]
								</option>
							</select>
						  </div>
						  <div class="d-flex justify-content-center">
							  <button  class="btn ms-2" @click.prevent="onSubmitMethod" id="submit-enq-btn-contact"
								><span>Send</span></button>
						</div>
						<p class="black-color text-center mt-4 contact-p">Also you can contact us here</p>
						<div class="d-flex also-contact justify-content-center mt-1">
							<a href="tel:+1 647 588 6770" class="black-color"><i class="fa fa-phone main-color me-2"></i>+1 647 588 6770</a>
							<a href="mailto:info@orangecatcycles.com" class="ms-4 black-color"><i class="fa fa-envelope me-2 main-color" aria-hidden="true"></i>info@orangecatcycles.com</a>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</section>
	<script>
        var contactForm = new Vue({
		el: '#ContactVueApp',
		delimiters: ['[[', ']]'],
		data: {
			// data here
            name: '',
            email: '',
            phone: '',
            message: '',
            model: '',
            modelList: [],
            color: '',
            colorList: [],
            submitted: false,
            productData: {},
		},
        watch: {
            model: function (val) {
                this.colorList = this.productData[val].map((item) => item.color);
            }
        },
		methods: {
            // methods here
            onSubmitMethod(){
                this.loadingBtn(true);
                console.log(this.name, this.email, this.phone, this.message, this.model, this.color);
                if (!this.name || !this.email || !this.phone || !this.message || !this.model || !this.color) {
                    Toastify({
                        text: "All fields are required!",
                        duration: 3000,
                        close: true,
                        gravity: "bottom",
                        position: 'right',
                        backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
                    }).showToast();
                    this.loadingBtn(false);
                    return;
                }
                axios.post('/get/enquiry/data', {
                    name: this.name,
                    email: this.email,
                    phone: this.phone,
                    model: `${this.model}(${this.color})`,
                    message: this.message,
                })
                .then((response) => {
                    console.log(response);
                    Toastify({
                        text: "Your inquiry has been sent successfully!",
                        duration: 3000,
                        close: true,
                        gravity: "bottom",
                        position: 'right',
                        backgroundColor: "green"
                    }).showToast();
                    this.name = '';
                    this.email = '';
                    this.phone = '';
                    this.message = '';
                    this.model = '';
                    this.color = '';
                    this.submitted = true;
                    this.loadingBtn(false);
                })
                .catch((error) => {
                    console.log(error);
                    this.loadingBtn(false);
                    Toastify({
                        text: "Something went wrong!",
                        duration: 3000,
                        close: true,
                        gravity: "bottom",
                        position: 'right',
                        backgroundColor: "linear-gradient(to right, #f45f30, #f8825e)"
                    }).showToast();
                });
            },
            loadingBtn(state){
                if (state) {
                    document.getElementById('submit-enq-btn-contact').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...';
					// disable the button
					document.getElementById('submit-enq-btn-contact').disabled = true;
                } else {
                    document.getElementById('submit-enq-btn-contact').innerHTML = '<span>Send</span>';
					// enable the button
					document.getElementById('submit-enq-btn-contact').disabled = false;
                }
            }

        },
        mounted() {
            // mounted here
            // get data from a data.json file
            axios.get('/static/data/product-data.json')
            .then((response) => {
                console.log(response.data); 
                // data = {products: {model1:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}], model2:[{color: 'color1', price: 1000}, {color: 'color2', price: 2000}]}}
                this.productData = response.data.products;
                this.modelList = Object.keys(response.data.products);
            })
            
        },
        });
    </script>
	<!--================ CONTACTS-TOP END ================-->

	<!--================ CONTACTS-BLOCK ================-->
	<section class="s-contacts-block">
		<div class="container">
			<div class="row contacts-block">
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/call.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a href="tel:+1 647 588 6770">+1 647 588 6770</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/mail.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a href="mailto:info@orangecatcycles.com">info@orangecatcycles.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="contact-block-item">
						<div class="contact-block-left">
							<img src="{{ url_for('static', filename='img/contact/map.png') }}" alt="img" class="img-fluid">
						</div>
						<div class="contact-block-right">
							<ul>
								<li><a class="item-scroll" href="#map">119 Indian Road,ZIP code: M6R 2V5, Toronto, Canada, Ontario</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============== CONTACTS-BLOCK END ==============-->

	<!--===================== S-MAP =====================-->
	<section class="s-map">
		<!-- <div id="map" class="cont-map google-map"></div> -->
		<div class="container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43040447.538247846!2d-135.55266777294568!3d48.820434632176564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b0d03d337cc6ad9%3A0x9968b72aa2438fa5!2sCanada!5e0!3m2!1sen!2sin!4v1686761709530!5m2!1sen!2sin" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
	</section>
	<!--=================== S-MAP END ===================-->
	<script>
		const sections = document.querySelectorAll('section');
		document.addEventListener("scroll", function() {
			sections.forEach(section => {
				const sectionTop = section.getBoundingClientRect().top;
				const windowHeight = window.innerHeight;
	
				if (sectionTop < windowHeight * 0.75) {
					section.classList.add('animate-on-scroll');
				} else {
					section.classList.remove('animate-on-scroll');
				}
			});
		});
	</script>

{% endblock %}

	

	