{% extends "base.html" %}


{% block content %}
<!-- =============== main-slider =============== -->

<section class="s-main-slider">
	<div class="main-slide-navigation"></div>
	<ul class="main-soc-list">
		<li><a href="#"><i class="fa fa-facebook-f icon-top"></i></a></li>
		<li><a href="#"><i class="fa fa-instagram icon-top"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter icon-top"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest icon-top"></i></a></li>
	</ul>
	<div class="main-slider">
		<div class="main-slide">
			<section class="showcase-banner">
				<img src="{{ url_for('static', filename='img/home-banner/2.jpg') }}" alt="img" class="slide-img img-fluid" loading="lazy" style="height: 100vh;width: 100%;object-fit: cover;">
				<div class="overlay-contents">
					<div class="container">
						<div class="main-slide-info">
							<h2 class="title white-color-head"> Italian luxury and exquisite craftmanship <br> on wheels</h2>
							<p>Embrace the charm of vintage inspired bicycles, uniquely handcrafted and carefully shipped by our Italian suppliers. Elevate and distinguish yourself in your everyday life with our handpicked selection of bicycles. Their high-quality material and elegant lines embody Italian craft tradition and are the vanguard of international design. The result is a product with a perfect balance of elegance and performance.</p>
							<a href="single-shop.html" class="btn"><span>Explore More</span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="main-slide">
			<section class="showcase-banner">
				<img src="{{ url_for('static', filename='img/home-banner/1.jpg') }}" alt="img" class="slide-img img-fluid" style="height: 100vh;width: 100%;object-fit: cover;">
				<div class="overlay-contents">
					<div class="container">
						<div class="main-slide-info">
							<h2 class="title white-color-head">Get Ready to Conquer the Roads with <br>Orange cat</h2>
							<p>Ride with Confidence, Ride with Orange Cat Bicycles. Discover our collection of meticulously
								crafted bicycles that prioritize safety, durability, and comfort. </p>
							<a href="single-shop.html" class="btn"><span>Explore More</span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="main-slide">
			<section class="showcase-banner">
				<img src="{{ url_for('static', filename='img/home-banner/3.jpg') }}" alt="img" class="slide-img img-fluid" style="height: 100vh;width: 100%;object-fit: cover;">
				<div class="overlay-contents">
					<div class="container">
						<div class="main-slide-info">
							<h2 class="title white-color-head">Get Ready to Conquer the Roads with <br>Orange cat</h2>
							<p>Ride with Confidence, Ride with Orange Cat Bicycles. Discover our collection of meticulously
								crafted bicycles that prioritize safety, durability, and comfort. </p>
							<a href="single-shop.html" class="btn"><span>Explore More</span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="main-slide">
			<section class="showcase-banner">
				<img src="{{ url_for('static', filename='img/home-banner/4.jpg') }}" alt="img" class="slide-img img-fluid" style="height: 100vh;width: 100%;object-fit: cover;">
				<div class="overlay-contents">
					<div class="container">
						<div class="main-slide-info">
							<h2 class="title white-color-head">Get Ready to Conquer the Roads with <br>Orange cat</h2>
							<p>Ride with Confidence, Ride with Orange Cat Bicycles. Discover our collection of meticulously
								crafted bicycles that prioritize safety, durability, and comfort. </p>
							<a href="single-shop.html" class="btn"><span>Explore More</span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="main-slide">
			<section class="showcase-banner">
				<img src="{{ url_for('static', filename='img/home-banner/5.jpg') }}" alt="img" class="slide-img img-fluid" style="height: 100vh;width: 100%;object-fit: cover;">
				<div class="overlay-contents">
					<div class="container">
						<div class="main-slide-info">
							<h2 class="title white-color-head">Get Ready to Conquer the Roads with <br> <b>Orange cat</b></h2>
							<p>Ride with Confidence, Ride with Orange Cat Bicycles. Discover our collection of meticulously
								crafted bicycles that prioritize safety, durability, and comfort. </p>
							<a href="single-shop.html" class="btn banner-btn"><span>Explore More</span></a>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
<!-- ============= main-slider end ============= -->

<!--================== S-PRODUCTS ==================-->
<section class="our-products">
	<div class="container">
		<h2 class="title text-capitalize text-center">our <b class="main-color">products</b>&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i>
		</h2>
		<p class="text-justify mt-3">Orange Cat is a one-product company, which ensures exceptionally high standards of quality control and outstanding customer support. Our catalogue encompasses two models of the Corinto Collection, a bicycle that embodies the mission, vision and values of its manufacturers. With its timeless and elegant lines, riding a Corinto bicycle will make you feel like gliding through royal courts.</p>
		<div class="produc-cards">
			<div class="card card-1 linear-1">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6 h-100 left-part">
						<div class="left-part">
							<img src="{{ url_for('static', filename='img/home.png') }}" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 h-100">
						<div class="right-part">
							<h5 class="main-color">Corinto Deluxe Donna</h5>
							<p class="mt-2 sub-head">Running collection</p>
							<p class="text-justify mt-3">The Corinto Deluxe Donna bicycle is a true embodiment of
								refined beauty and exceptional performance. Crafted with meticulous attention to detail,
								this exquisite bicycle is designed specifically for women seeking a luxurious and
								comfortable riding experience.</p>
							<div class="d-flex align-items-center mt-3">
								<h5>$800</h5>
								<a href="single-shop.html" class="btn ms-3"><span>Enquire Now</span></a>
							</div>
							<div class="mt-4"><a href="" class="view-more">View Details</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mt-3 card-1 linear-2">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6 h-100 left-part">
						<div class="left-part">
							<img src="{{ url_for('static', filename='img/home.png') }}" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 h-100">
						<div class="right-part">
							<h5 class="main-color">Corinto Deluxe Donna</h5>
							<p class="mt-2 sub-head">Running collection</p>
							<p class="text-justify mt-3">The Corinto Deluxe Donna bicycle is a true embodiment of
								refined beauty and exceptional performance. Crafted with meticulous attention to detail,
								this exquisite bicycle is designed specifically for women seeking a luxurious and
								comfortable riding experience.</p>
							<div class="d-flex align-items-center mt-3">
								<h5>$800</h5>
								<a href="single-shop.html" class="btn ms-3"><span>Enquire Now</span></a>
							</div>
							<div class="mt-4"><a href="" class="view-more">View Details</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--================ S-PRODUCTS END ================-->

<!--================== S-SUBSCRIBE ==================-->
<section class="s-subscribe">
	<video autoplay muted loop id="bg-video">
        <source src="../static/img/discover-bg.mp4" type="video/mp4">
        <!-- Add additional source elements for different video formats if needed -->
        Your browser does not support HTML5 video.
    </video>
	<span class="mask"></span>
	<span class="subscribe-effect wow fadeIn" data-wow-duration="1s"></span>
	<div class="container">
		<div class="subscribe-left">
			<h3 class="title text-capitalize small-title ad-title"><span>Let’s Start your <br><b class="mt-2">Discover 100 years of tradition in bicycle manufacturing.</b></span></h3>
			<p class="text-capitalize">Embark on a journey of craftmanship, luxury and design for a unique bicycle that will satisfy even the most demanding tastes.</p>
			<button type="submit" class="btn btn-form"><span>Know More</span></button>
		</div>
		<img class="wow fadeInRightBlur lazy img-fluid" data-wow-duration=".8s" data-wow-delay=".3s"
			src="{{ url_for('static', filename='img/home.png') }}"
			data-src="{{ url_for('static', filename='img/home.png') }}" alt="img" style="width: 80%;">
	</div>
</section>


<!--================ S-SUBSCRIBE END ================-->

<!--================ gallery start ================-->
<section class="about-orangecat">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6">
				<div class="left-contents">
					<h2 class="title text-capitalize small-title  text-left text-md-end">about our <br class="d-none "><b class="main-color">orange
						cat</b>  </h2>
					<p class="mt-3 text-justify text-md-end">It all started several years ago with a trip to Italy, during which time, our founder was gifted a beautifully handcrafted vintage bicycle by a close friend. Taken in by its features, he decided to bring it back to Canada and have a piece of Italy close to home. For years he rode this bicycle on the streets of downtown Toronto receiving compliments from passersby and drivers at stoplights. No one had ever seen such a unique bicycle. He rode his bicycle with his head held high, the wind in his hair and a smile on his face.
						<br><br> And then, someone stole his bicycle.
	
	 
	
						He searched far and wide but he noted that there were no retailers in the area that had similar products available, so he returned to Italy. In 2022 he established a partnership with Taurus, a vintage bicycle manufacturer, to bring their product to Canada and Orange Cat was born.
					</p>
					<div class=" text-center text-md-end mb-5 mb-md-0">
						<button type="submit" class="btn btn-form mt-3"><span>Read More</span></button>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-contents">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-12 mb-3">
							<img src="{{ url_for('static', filename='img/about-sec-1.jpg') }}" alt="" class="img-fluid">
						</div>
						<div class="col-lg-6 mb-3">
							<img src="{{ url_for('static', filename='img/about-sec-2.jpg') }}" alt="" class="img-fluid">
						</div>
						<div class="col-lg-6 mb-3">
							<img src="{{ url_for('static', filename='img/about-sec-3.jpg') }}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--================ gallery end ================-->
<style>
	.gallery {
		display: flex;
		padding: 2px;
		transition: 0.3s;
	}

	.gallery:hover .gallery__image {
		filter: grayscale(1);
	}

	.gallery__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	.gallery__link {
		margin: 2px;
		overflow: hidden;
	}

	.gallery__link:hover .gallery__image {
		filter: grayscale(0);
	}

	.gallery__link:hover .gallery__caption {
		opacity: 1;
	}

	.gallery__thumb {
		position: relative;
	}

	.gallery__image {
		display: block;
		width: 100%;
		transition: 0.3s;
	}

	.gallery__image:hover {
		transform: scale(1.1);
	}

	.gallery__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
		transition: 0.3s;
	}

	.btn-edit {
		background-color: #d6bf3e;
		/* Green */
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 9px;
	}

	.btn-edit:hover {
		background-color: #d6bf3ea8;
	}

	.btn-delete {
		background-color: #d63e3e;
		/* Green */
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;

	}

	.btn-delete:hover {
		background-color: #d63e3ea8;
	}

	.btn-add {
		background-color: #3e9dd6;
		/* Green */
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;
	}

	.btn-add:hover {
		background-color: #3e9dd6a8;
	}

	.edit-mode {
		animation: shake 1.3s ease-in-out infinite;
	}

	@keyframes shake {
		0% {
			transform: translateX(0);
		}

		10% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		20% {
			transform: translateX(.2px) rotate(.2deg);
		}

		30% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		40% {
			transform: translateX(.2px) rotate(.2deg);
		}

		50% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		60% {
			transform: translateX(.2px) rotate(.2deg);
		}

		70% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		80% {
			transform: translateX(.2px) rotate(.2deg);
		}

		90% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		100% {
			transform: translateX(0);
		}
	}
	.imgmodal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9);
	}
	.imgmodal-content {
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		max-width: 600px;
	}
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}
	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}
	.btn-main-edit {
		padding: 10px 20px;
		font-size: 16px;
		color: #fff;
		background-color: #007bff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.btn-main-edit:hover {
		background-color: #0056b3 !important;
	}
	.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<section class="s-gallery">
	<div class="container" id="vue-gallery-app">
		<div class="gallery-header">
			
			<div class="header-container">
				<h2 class="title text-capitalize text-center">our <b class="main-color">photo</b> gallery&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i></h2>
				<a href="{{ url_for('photo_gallery')}}" v-if="isAdmin" class="btn-main-edit" style="margin-left: 100px;">Edit</a>
			</div>
				</div>
				<div class="gallery">
					<div class="gallery__column" v-for="col in galleryCols">
						<div class="gallery__link" v-for="imgUrl in galleryImageUrls[col]" 
															@click.stop="openModal(imgUrl)">
							<figure class="gallery__thumb">
								<img :src="imgUrl" alt="" class="gallery__image" loading="lazy" />
								<figcaption class="gallery__caption">
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
		<div class="text-center">
			<a href="{{ url_for('photo_gallery')}}" class="btn mt-4"><span>View More</span></a>
		</div>
		<div id="imageModal" class="imgmodal zoom-box" style="z-index: 10;" @click.stop="closeModal()">
			<span class="close" @click="closeModal()">&times;</span>
			<vue-magnifier class="imgmodal-content" :src="modalImage" :src-large="modalImage"></vue-magnifier>
			<div id="caption"></div>
		</div>
		
	</div>
</section>
<script>

var app = new Vue({
		el: '#vue-gallery-app',
		delimiters: ['[[', ']]'],
		data: {
			isAdmin: false,
			galleryCols: 4,
			galleryImageUrls: {},
			modalImage: '',
		},
		methods: {
			openModal(imageUrl) {
				this.modalImage = imageUrl;
				$('#imageModal').show();
			},
			closeModal() {
				this.modalImage = '';
				$('#imageModal').hide();
			},
			closeOnEscape(e) {
				if (e.key === 'Escape' && this.modalImage) {
					this.closeModal();
				}
			},
			getGalleryImageUrls() {
				payload = {
					'gallery_name': this.selectedGalleryName
				}
				url = '{{url_for("fetch_gallery_photos_urls")}}'
				axios.post(url, payload)
					.then(function (response) {
						console.log(response);
						app.galleryImageUrls = response.data.gallery_image_urls
					})
					.catch(function (error) {
						console.log(error);
						app.sendNotification('Error Fetching Gallery Images', 'red')
					});
			},
			sendNotification(message, type) {
				Toastify({
					text: message,
					duration: 3000,
					gravity: "top", // `top` or `bottom`
					position: 'right', // `left`, `center` or `right`
					backgroundColor: type,
					stopOnFocus: true, // Prevents dismissing of toast on hover
					onClick: function () { } // Callback after click
				}).showToast();

			},
			checkIfAdmin() {
				status = '{{current_user.role}}'
				if (status == 'admin') {
					this.isAdmin = true
				} else {
					this.isAdmin = false
				}
			},
			
		},
		mounted() {
			this.checkIfAdmin();
			this.getGalleryImageUrls();
			document.addEventListener('keyup', this.closeOnEscape);
		},
		beforeDestroy() {
			document.removeEventListener('keyup', this.closeOnEscape);
		}

	});
	
</script>
<!--============= s-galleryb  end  =============-->

<!--============= video-gallery start =============-->
<section class="video-gallery">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-6 mb-3">
				<h2 class="black-color text-center text-md-start">Experience the <b class="main-color">Video</b> Gallery</h2>
				<p class="mt-3 text-justify text-justify text-md-start">Step into the captivating world of vintage bicycles with the Orange Cat Video Gallery. Immerse yourself in the elegant and unique designs of our carefully handcrafted bicycles through a visual journey. Each video showcases the timeless allure and exquisite craftsmanship of these vintage treasures.</p>
				<div class="text-center text-md-start">
					<a href="single-shop.html" class="btn mt-4"><span>View All</span></a>
				</div>
			</div>
			<div class="col-lg-6 mb-3">
				<video id="my-video" class="video-js" controls preload="auto" poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" data-setup='' loop>
					<source src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-1080p.mp4" type='video/mp4'>
					</video>
				<!-- <video src="{{ url_for('static', filename='img/video-gallery-1.mp4') }}"  autoplay loop playsinline></video> -->
			</div>
			<div class="col-lg-6 mb-3">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
			<div class="col-lg-6 mb-3">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<script>
	window.addEventListener('load', async () => {
  let video = document.querySelector('video[muted][autoplay]');
  try {
    await video.play();
  } catch (err) {
    video.controls = true;
  }
});
</script>
<!--============= video-gallery end =============-->

<!--============= follow-us start =============-->
<section class="follow-us">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-4 icon-img">
				<h2 class="title text-center text-capitalize small-title"><b class="main-color">Follow</b> us on <br> Social media </h2>
				<div class="social-media">
					<div class="d-flex justify-content-center">
						<a href="#">
							<img src="{{ url_for('static', filename='img/icons/facebook.png') }}" alt="" class="img-fluid float-up">
						</a>
						<a href="#">
							<img src="{{ url_for('static', filename='img/icons/instagram.png') }}" alt="" class="img-fluid ms-5 float-up">
						</a>
					</div>
					<div class="d-flex mt-5 justify-content-center">
						<a href="#">
							<img src="{{ url_for('static', filename='img/icons/pinterest.png') }}" alt="" class="img-fluid float-up">
						</a>
						<a href="#">
							<img src="{{ url_for('static', filename='img/icons/twitter.png') }}" alt="" class="img-fluid ms-5 float-up">
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="border-left">
					<img src="{{ url_for('static', filename='img/follow-us-on.png') }}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!--============= follow-us end =============-->


<!--================== S-FEEDBACK ==================-->
<section class="s-feedback" style="background-image: url('assets/img/feedback-bg');">
	<span class="effwct-bg-feedback" style="background-image: url('assets/img/effect-bg-fack.svg');"></span>
	<span class="mask"></span>
	<div class="container">
		<h2 class="title text-center text-md-start">Feedback</h2>
		<div class="feedback-slider">
			<div class="feedback-slide">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img src="{{ url_for('static', filename='img/feedback-photo-1.png') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img src="{{ url_for('static', filename='img/feedback-photo-1.png') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img src="{{ url_for('static', filename='img/feedback-photo-1.png') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img src="{{ url_for('static', filename='img/feedback-photo-1.png') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--================ S-FEEDBACK END ================-->


<!--================ contact-us start ================-->
<section class="contact-orangecat" style="padding: 100px 0;">
	<div class="container">
		<h2 class="title text-capitalize text-center">Get in <b class="main-color">touch</b>&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i>
		</h2>
		<p class="mt-4 text-center text-md-start">We're here to assist you every step of the way. Don't hesitate to get
			in touch with our dedicated team for any inquiries, questions, or support you may need. We value your input
			and are committed to providing prompt and helpful responses. We look forward to connecting with you and
			ensuring your experience with us is exceptional.</p>
		<div class="contact-contents">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<h5 class="main-color text-capitalize mb-3">Locate us</h5>
				</div>
				<div class="col-lg-6">
					<img src="{{ url_for('static', filename='img/contact-left-img.jpg') }}" class="img-fluid">
					<p class="mt-2 mt-md-3 text-start text-md-start">Rectory Cottage, Farleigh Court Road, Warlingham, CR6 9PX
					</p>
					<h6 class="text-capitalize mt-3">contact us</h6>
					<div class="d-flex reach-out-us mt-3">
						<div class="call-us">
							<div class="d-flex justify-content-center align-items-center">
								<div class="contac-icon">
									<img src="{{ url_for('static', filename='img/contact/call.png') }}" alt="call"
										class="img-fluid">
								</div>
								<div class="contact-numbers ms-3">
									<a href="tel: (+33)7 35 55 31 15">(+33)7 35 55 31 15</a><br>
									<a href="tel: (+33)7 35 55 31 15">(+33)7 35 55 31 15</a>
								</div>
							</div>
						</div>
						<div class="mail-us ms-md-3 ms-0">
							<div class="d-flex">
								<div class="contact-icon">
									<img src="{{ url_for('static', filename='img/contact/mail.png') }}" alt="mail"
										class="img-fluid">
								</div>
								<a href="mailto:info@example.com" class="ms-md-3 ms-2 mt-md-1 mt-md-2 mt-0">info@example.com</a>
							</div>
						</div>
					</div>
					<div class="follow-us-on">
						<h6 class="text-capitalize mt-3 text-center text-md-start">Follow us</h6>
						<div class="d-flex mt-3 justify-content-center justify-content-md-start">
							<a href="#" class="me-3"><i class="fa fa-facebook-f icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-instagram icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-twitter icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-pinterest icon-top float-up"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="" class="mt-4 mt-md-0">
						<h6 class="text-center text-capitalize mb-4"><b class="main-color">Reach</b> Out to Us</h6>
						<div class="mb-3">
							<input type="text" class="form-control" id="name" placeholder="Name" required>
						</div>
						<div class="mb-3">
							<input type="email" class="form-control" id="exampleFormControlInput1"
								placeholder="Email address" required>
						</div>
						<div class="mb-3">
							<input type="tel" class="form-control" id="phone" placeholder="Phone number" required>
						</div>
						<div class="mb-4">
							<textarea class="form-control bg-transparent" id="type-message" rows="3"
								placeholder="Type your message" required></textarea>
						</div>
						<div class="text-center">
							<button type="submit" class="btn"><span>Send</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<script>
	const sections = document.querySelectorAll('section');
	document.addEventListener("scroll", function() {
		sections.forEach(section => {
			const sectionTop = section.getBoundingClientRect().top;
			const windowHeight = window.innerHeight;

			if (sectionTop < windowHeight * 0.75) {
				section.classList.add('animate-on-scroll');
			} else {
				section.classList.remove('animate-on-scroll');
			}
		});
	});
</script>
<!--================ contact-us end ================-->

{% endblock %}