
{% extends "base.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.4.8/plyr.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- ---------video------- -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
{% block content %}

	<!-- =============== main-slider =============== -->
<section class="landing-page-section">
	<header class="video-header">
		<video 
		id="banner-backgroud-video"
			width="320" 
			height="240" 
			autoplay 
			loop 
			playsinline 
			muted 
			poster="{{ url_for('static', filename='img/banner-placeholder-image.jpg') }}">
			<source data-src="{{ url_for('static', filename='img/video.mp4') }}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
  var lazyVideo = document.getElementById("banner-backgroud-video");

  if ("IntersectionObserver" in window && lazyVideo) {
    var videoObserver = new IntersectionObserver(function(entries, observer) {
      entries.forEach(function(entry) {
        if (entry.isIntersecting) {
          var videoSource = entry.target.querySelector("source");
          videoSource.src = videoSource.dataset.src;
          entry.target.load();
          entry.target.classList.remove("lazy");
          videoObserver.unobserve(entry.target);
        }
      });
    });

    videoObserver.observe(lazyVideo);
  } else if (lazyVideo) {
    var source = lazyVideo.querySelector("source");
    source.src = source.dataset.src;
    lazyVideo.load();
  }
});


		</script>

		<div class="header-icons">
			<a href="#"><i class="fa fa-facebook-f me- float-up"></i></a>
			<a href="#"><i class="fa fa-instagram float-up"></i></a>
			<a href="#"><i class="fa fa-twitter   float-up"></i></a>
			<a href="#"><i class="fa fa-pinterest  float-up"></i></a>
			<div class="down-arrow">
				<a href="#our-products" class="js-anchor-link"><img  loading="lazy" src="{{ url_for('static', filename='img/dw-1.png') }}" alt="" class="img-fluid float-up d-none d-md-block"></a>
			</div>
		</div>
		
		<div class="viewport-header">
		  <h1>
			Explore
			<span>Orangecat</span>
		  </h1>
		  
		</div>
	  </header>
</section>
  <script>
	var viewportHeader = document.querySelector(".viewport-header");
	document.body.addEventListener("scroll", function(event) {
	var opacity = (document.body.offsetHeight - document.body.scrollTop) / document.body.offsetHeight;
	var scale = (document.body.offsetHeight - document.body.scrollTop) / document.body.offsetHeight;
	document.documentElement.style.setProperty('--headerOpacity', opacity);
	document.documentElement.style.setProperty('--headerScale', scale);
	});
  </script>
<!-- ============= main-slider end ============= -->
<!--================== S-PRODUCTS ==================-->
<main class="our-products" id="our-products">
	<div class="container">
		<h2 class="title text-capitalize text-left text-md-center letter-space-value">our <b class="main-color">Models</b>&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i>
		</h2>
		<p class="text-justify mt-3">Orange Cat is a one-product company, which ensures exceptionally high standards of quality control and outstanding customer support. Our catalogue encompasses two models of the Corinto Collection, a bicycle that embodies the mission, vision and values of its manufacturers. With its timeless and elegant lines, riding a Corinto bicycle will make you feel like gliding through royal courts.</p>
		<div class="produc-cards">
			<div class="card card-1 linear-1">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6 h-100 left-part">
						<div class="left-part">
							<img loading="lazy" src="{{ url_for('static', filename='img/home.png') }}" class="img-fluid" alt="" loading="lazy">
						</div>
					</div>
					<div class="col-lg-6 h-100">
						<div class="right-part">
							<h5 class="main-color">Corinto Arrow</h5>
							<p class="mt-2 sub-head">Running collection</p>
							<p class="text-justify mt-3">Corinto Arrow, with its sleek and strong design, combines a timeless feel with modern reliability. The longer and narrower saddle, and the wider distance between the padding and the top tube, ensure a dynamic riding experience for both expert and leisure riders. </p>
							<div class="d-flex align-items-center mt-3">
								<a href="#" class="btn me-3"  data-bs-toggle="modal" data-bs-target="#productContactModal"><span>Enquire Now</span></a>
								<a href="{{ url_for('view_products') }}" class="view-more m-0 p-0">View Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card mt-3 card-1 linear-2">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6 h-100 left-part">
						<div class="left-part">
							<img loading="lazy" src="{{ url_for('static', filename='img/product2.jpg') }}" class="img-fluid" alt="" loading="lazy">
						</div>
					</div>
					<div class="col-lg-6 h-100">
						<div class="right-part">
							<h5 class="main-color">Corinto Bow</h5>
							<p class="mt-2 sub-head">Running collection</p>
							<p class="text-justify mt-3">Corinto Bow was designed to reflect a softer style with curves that allow a gentle mount and dismount. The curved top bar renders this product ideal for those that find it difficult to raise their legs or do not want to compromise on their fashion choices but still use an environmentally conscious way of moving around town.</p>
							<div class="d-flex align-items-center mt-3">
								<a href="#" class="btn me-3"  data-bs-toggle="modal" data-bs-target="#productContactModal"><span>Enquire Now</span></a>
								<a href="{{ url_for('view_products') }}" class="view-more m-0 p-0">View Details</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<!--================ S-PRODUCTS END ================-->
<div class="js-scroll"></div>
<!--================== S-SUBSCRIBE ==================-->
<section class="background">
	<div class="content-wrapper">
		<section class="s-subscribe">
			<video autoplay muted loop id="bg-video" >
				<source src="../static/img/discover-bg.mp4" type="video/mp4">
				<!-- Add additional source elements for different video formats if needed -->
				Your browser does not support HTML5 video.
			</video>
			<span class="mask"></span>
			<span class="subscribe-effect wow fadeIn" data-wow-duration="1s"></span>
			<div class="container">
				<div class="subscribe-left">
					<div class="blockquote-wrapper">
						<div class="blockquote">
						  <h1>A bicycle is not just a combination of details. <br> Its details are everything.</h1>
						</div>
					</div>
					<p class="text-capitalize">Embark on a journey of craftmanship, luxury and design for a unique bicycle that will satisfy even the most demanding tastes.</p>
					<a href="/about#about-tradition"><button type="submit" class="btn btn-form"><span>Know More</span></button></a>
				</div>
				<img class="wow fadeInRightBlur lazy img-fluid" data-wow-duration=".8s" data-wow-delay=".3s"
					src="{{ url_for('static', filename='img/home.png') }}"
					data-src="{{ url_for('static', filename='img/home.png') }}" alt="img" style="width: 70%;">
			</div>
		</section>
	</div>
</section>


<!--================ S-SUBSCRIBE END ================-->

<!--================ gallery start ================-->
<section class="background">
	<div class="content-wrapper">
		<section class="about-orangecat">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6">
						<h2 class="title text-capitalize small-title letter-space-value">about <br class="d-none "><b class="main-color">orange
							cat</b>  </h2>
						<p class="mt-3 text-justify ">It all started several years ago with a trip to Italy, during which time, our founder was gifted a beautifully handcrafted vintage bicycle by a close friend. Taken in by its features, he decided to bring it back to Canada and have a piece of Italy close to home. For years he rode this bicycle on the streets of downtown Toronto receiving compliments from passersby and drivers at stoplights. No one had ever seen such a unique bicycle. He rode his bicycle with his head held high, the wind in his hair and a smile on his face.
							<br><br> And then, someone stole his bicycle.
							He searched far and wide but he noted that there were no retailers in the area that had similar products available, so he returned to Italy. In 2022 he established a partnership with Taurus, a vintage bicycle manufacturer, to bring their product to Canada and Orange Cat was born.
						</p>
						<div class=" mb-5 mb-md-0">
							<a href="{{ url_for('about') }}"><button type="submit" class="btn btn-form mt-3"><span>Read More</span></button></a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-contents">
							<div class="row justify-content-center align-items-center">
								<div class="col-lg-12 mb-3">
									<div class="blur-load" style="background: url(../static/img/about-sec-1-small.jpg);background-repeat: no-repeat;">
										<img loading="lazy" src="{{ url_for('static', filename='img/about-sec-1.jpg') }}" alt="" class="img-fluid" loading="lazy">
									</div>
								</div>
								<div class="col-lg-6 mb-3">
									<div class="blur-load" style="background: url(../static/img/about-sec-2-small.jpg);background-repeat: no-repeat;">
										<img loading="lazy" src="{{ url_for('static', filename='img/about-sec-2.jpg') }}" alt="" class="img-fluid" loading="lazy">
									</div>
								</div>
								<div class="col-lg-6 mb-3">
									<div class="blur-load" style="background: url(../static/img/about-sec-3-small.jpg);background-repeat: no-repeat;">
										<img loading="lazy" src="{{ url_for('static', filename='img/about-sec-3.jpg') }}" alt="" class="img-fluid" loading="lazy">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
<!--================ gallery end ================-->
<style>
	.gallery {
		display: flex;
		padding: 2px;
		transition: 0.3s;
	}

	.gallery:hover .gallery__image {
		filter: grayscale(1);
	}

	.gallery__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	.gallery__link {
		margin: 2px;
		overflow: hidden;
	}

	.gallery__link:hover .gallery__image {
		filter: grayscale(0);
	}

	.gallery__link:hover .gallery__caption {
		opacity: 1;
	}

	.gallery__thumb {
		position: relative;
	}

	.gallery__image {
		display: block;
		width: 100%;
		transition: 0.3s;
	}

	.gallery__image:hover {
		transform: scale(1.1);
	}

	.gallery__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
		transition: 0.3s;
	}

	.btn-edit {
		background-color: #d6bf3e;
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 9px;
	}

	.btn-edit:hover {
		background-color: #d6bf3ea8;
	}

	.btn-delete {
		background-color: #d63e3e;
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;

	}

	.btn-delete:hover {
		background-color: #d63e3ea8;
	}

	.btn-add {
		background-color: #3e9dd6;
		border: none;
		color: white;
		padding: 5px 18px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;
	}

	.btn-add:hover {
		background-color: #3e9dd6a8;
	}

	.edit-mode {
		animation: shake 1.3s ease-in-out infinite;
	}

	@keyframes shake {
		0% {
			transform: translateX(0);
		}

		10% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		20% {
			transform: translateX(.2px) rotate(.2deg);
		}

		30% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		40% {
			transform: translateX(.2px) rotate(.2deg);
		}

		50% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		60% {
			transform: translateX(.2px) rotate(.2deg);
		}

		70% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		80% {
			transform: translateX(.2px) rotate(.2deg);
		}

		90% {
			transform: translateX(-.2px) rotate(-.2deg);
		}

		100% {
			transform: translateX(0);
		}
	}
	.imgmodal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9);
	}
	.imgmodal-content {
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80%;
		max-width: 600px;
	}
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}
	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}
	.btn-main-edit {
		padding: 10px 20px;
		font-size: 16px;
		color: #fff;
		background-color: #007bff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.btn-main-edit:hover {
		background-color: #0056b3 !important;
	}
	.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<section class="s-gallery">
	<div class="container" id="vue-gallery-app">
		<div class="gallery-header">
			
			<div class="header-container">
				<h2 class="title text-capitalize text-center letter-space-value">our <b class="main-color">photo</b> gallery&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i></h2>
				<a href="{{ url_for('photo_gallery')}}" v-if="isAdmin" class="btn-main-edit" style="margin-left: 100px;">Edit</a>
			</div>
				</div>
				<div class="gallery">
					<div class="gallery__column" v-for="col in galleryCols">
						<div class="gallery__link" v-for="imgUrl in galleryImageUrls[col]" 
															@click.stop="openModal(imgUrl)">
							<figure class="gallery__thumb">
								<img :src="imgUrl" alt="" class="gallery__image" loading="lazy" />
								<figcaption class="gallery__caption">
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
		<div class="text-center">
			<a href="{{ url_for('photo_gallery')}}" class="btn mt-4"><span>View More</span></a>
		</div>
		<div id="imageModal" class="imgmodal zoom-box" style="z-index: 10;" @click.stop="closeModal()">
			<span class="close" @click="closeModal()">&times;</span>
			<vue-magnifier class="imgmodal-content" :src="modalImage" :src-large="modalImage"></vue-magnifier>
			<div id="caption"></div>
		</div>
		
	</div>
</section>
<script>

var app = new Vue({
		el: '#vue-gallery-app',
		delimiters: ['[[', ']]'],
		data: {
			isAdmin: false,
			galleryCols: 4,
			galleryImageUrls: {},
			modalImage: '',
		},
		methods: {
			openModal(imageUrl) {
				this.modalImage = imageUrl;
				$('#imageModal').show();
			},
			closeModal() {
				this.modalImage = '';
				$('#imageModal').hide();
			},
			closeOnEscape(e) {
				if (e.key === 'Escape' && this.modalImage) {
					this.closeModal();
				}
			},
			getGalleryImageUrls() {
				payload = {
					'gallery_name': this.selectedGalleryName
				}
				url = '{{url_for("fetch_gallery_photos_urls")}}'
				axios.post(url, payload)
					.then(function (response) {
						console.log(response);
						app.galleryImageUrls = response.data.gallery_image_urls
					})
					.catch(function (error) {
						console.log(error);
						app.sendNotification('Error Fetching Gallery Images', 'red')
					});
			},
			sendNotification(message, type) {
				Toastify({
					text: message,
					duration: 3000,
					gravity: "top", 
					position: 'right', 
					backgroundColor: type,
					stopOnFocus: true, 
					onClick: function () { } 
				}).showToast();
			},
			checkIfAdmin() {
				status = '{{current_user.role}}'
				if (status == 'admin') {
					this.isAdmin = true
				} else {
					this.isAdmin = false
				}
			},
		},
		mounted() {
			this.checkIfAdmin();
			this.getGalleryImageUrls();
			document.addEventListener('keyup', this.closeOnEscape);
		},
		beforeDestroy() {
			document.removeEventListener('keyup', this.closeOnEscape);
		}
	});
</script>
<!--============= s-galleryb  end  =============-->

<!--============= video-gallery start =============-->
<!-- <section class="video-gallery">
	<div class="container">
		<h2 class="title text-capitalize text-center letter-space-value">our <b class="main-color">video</b> gallery&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i></h2>
		<div class="swiper-container swiper-initialize">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="video-container">
						<video class="gallery-video" loop>
							<source src="../static/img/video-gal-1.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="video-container">
						<video class="gallery-video" loop>
							<source src="../static/img/video-gal-2.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
						
					</div>
				</div>
				<div class="swiper-slide">
					<div class="video-container">
						<video class="gallery-video" loop>
							<source src="../static/img/video-gal-3.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="video-container">
						<video class="gallery-video" loop>
							<source src="../static/img/video-gal-1.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
				</div>
			</div>

			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>
<script>
	document.addEventListener('DOMContentLoaded', function () {
	var gallerySwiper = new Swiper('.swiper-initialize', {
		slidesPerView: 5,
		spaceBetween: 20,
		breakpoints: {
			1920: {
				slidesPerView: 5
			},
			992: {
				slidesPerView: 3
			},
			320: {
				slidesPerView: 2
			}
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev'
		}
	});
	var currentPlayingVideo = null;
	function playPauseVideo(video) {
		if (video.paused) {
			video.play();
			video.muted = false; 
		} else {
			video.pause();
		}
	}
	function muteAllVideos() {
		document.querySelectorAll('.gallery-video').forEach(function (video) {
			video.muted = true;
		});
	}
	var videos = document.querySelectorAll('.gallery-video');
	videos.forEach(function (video) {
		video.addEventListener('click', function () {
			if (currentPlayingVideo && currentPlayingVideo !== video) {
				currentPlayingVideo.pause();
				currentPlayingVideo.muted = true;
			}

			playPauseVideo(video);
			currentPlayingVideo = video;
		});
	});
	document.querySelectorAll('.play-pause-button').forEach(function (button) {
		button.addEventListener('click', function (event) {
			event.stopPropagation(); // Prevent video click event propagation
			var videoContainer = button.closest('.video-container');
			var video = videoContainer.querySelector('.gallery-video');

			playPauseVideo(video);
			currentPlayingVideo = video;
		});
	});
	muteAllVideos();
});
</script> -->
<!--============= video-gallery end =============-->

<!--============= follow-us start =============-->
<section class="follow-us">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-4 icon-img">
				<div class="follow-left-contents">
					<h2 class="title text-center text-capitalize small-title letter-space-value"><b class="main-color">Follow</b> us on <br> Social media </h2>
					<div class="social-media">
						<div class="d-flex justify-content-center">
							<a href="#">
								<img loading="lazy" src="{{ url_for('static', filename='img/icons/facebook.png') }}" alt="" class="img-fluid float-up" >
							</a>
							<a href="#">
								<img loading="lazy" src="{{ url_for('static', filename='img/icons/instagram.png') }}" alt="" class="img-fluid ms-5 float-up">
							</a>
						</div>
						<div class="d-flex mt-3 mt-md-5 justify-content-center">
							<a href="#">
								<img loading="lazy" src="{{ url_for('static', filename='img/icons/pinterest.png') }}" alt="" class="img-fluid float-up">
							</a>
							<a href="#">
								<img loading="lazy" src="{{ url_for('static', filename='img/icons/twitter.png') }}" alt="" class="img-fluid ms-5 float-up">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div>
					<img loading="lazy" src="https://cloud-cube-us2.s3.amazonaws.com/lu3eeh4bls8g/public/follow-us-on.png" alt="" class="img-fluid" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>
<!--============= follow-us end =============-->

<!--================== S-FEEDBACK ==================-->
<section class="s-feedback">
	<video autoplay muted loop id="bg-video"  style="width:100%;">
        <source src="../static/img/feedback-vdo-2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
	<span class="effwct-bg-feedback" ></span>
	<span class="mask"></span>
	<div class="container">
		<h2 class="title text-center text-md-start letter-space-value">Feedback</h2>
		<div class="feedback-slider">
			<div class="feedback-slide float-up">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img loading="lazy" src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide float-up">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img loading="lazy" src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide float-up">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img loading="lazy" src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
			<div class="feedback-slide float-up">
				<div class="feedback-item justify-content-center align-items-center">
					<div class="feedback-item-top">
						<img loading="lazy" src="{{ url_for('static', filename='img/profile-img.jpg') }}" alt="photo">
						<div class="feedback-title mb-4">
							<h5 class="title"><span>Li piters</span></h5>
							<p>Lorem Ipsum</p>
						</div>
					</div>
					<div class="feedback-content">
						<p class="feedback-text text-justify">“Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempoinc ididunt ut magna aliqua dolor sit amet, consectetur adipiscing elit
							magna”</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ S-FEEDBACK END ================-->

<!--================ contact-us start ================-->
<section class="contact-orangecat" style="padding: 100px 0;">
	<div class="container">
		<h2 class="title text-capitalize text-left text-md-left letter-space-value">Get in <b class="main-color">touch</b>&nbsp;&nbsp;<i class="bi bi-bicycle cycle-icon "></i>
		</h2>
		<p class="mt-4 text-justify text-md-start">We're here to assist you every step of the way. Don't hesitate to get
			in touch with our dedicated team for any inquiries, questions, or support you may need. We value your input
			and are committed to providing prompt and helpful responses. We look forward to connecting with you and
			ensuring your experience with us is exceptional.</p>
		<div class="contact-contents">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<h5 class="black-color text-capitalize mb-3"><b class="main-color">Locate</b> us</h5>
				</div>
				<div class="col-lg-6">
					<img loading="lazy" src="{{ url_for('static', filename='img/contact-left-img.jpg') }}" class="img-fluid">
					<p class="mt-2 mt-md-3 text-start text-md-start">Rectory Cottage, Farleigh Court Road, Warlingham, CR6 9PX
					</p>
					<h6 class="text-capitalize mt-3">contact us</h6>
					<div class="d-flex align-items-center reach-out-us mt-3">
						<div class="call-us">
							<div class="d-flex justify-content-center align-items-center">
								<div class="contac-icon">
									<img loading="lazy" src="{{ url_for('static', filename='img/contact/call.png') }}" alt="call"
										class="img-fluid">
								</div>
								<div class="contact-numbers ms-3">
									<a href="tel: (+33)7 35 55 31 15">(+33)7 35 55 31 15</a><br>
									<a href="tel: (+33)7 35 55 31 15">(+33)7 35 55 31 15</a>
								</div>
							</div>
						</div>
						<div class="mail-us ms-md-4 ms-md-2 ms-3">
							<div class="d-flex align-items-center">
								<div class="contact-icon">
									<img loading="lazy" src="{{ url_for('static', filename='img/contact/mail.png') }}" alt="mail"
										class="img-fluid">
								</div>
								<a href="mailto:info@example.com" class="ms-md-3 ms-2 mt-0">info@example.com</a>
							</div>
						</div>
					</div>
					<div class="follow-us-on">
						<h6 class="text-capitalize mt-3 text-left text-md-start">Follow us</h6>
						<div class="d-flex mt-3 justify-content-left justify-content-md-start">
							<a href="#" class="me-3"><i class="fa fa-facebook-f icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-instagram icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-twitter icon-top float-up"></i></a>
							<a href="#" class="me-3"><i class="fa fa-pinterest icon-top float-up"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="" class="mt-4 mt-md-0">
						<h6 class="text-center text-capitalize mb-4"><b class="main-color">Reach</b> Out to Us</h6>
						<div class="mb-3">
							<input type="text" class="form-control" id="name" placeholder="Name" required>
						</div>
						<div class="mb-3">
							<input type="email" class="form-control" id="exampleFormControlInput1"
								placeholder="Email address" required>
						</div>
						<div class="mb-3">
							<input type="tel" class="form-control" id="phone" placeholder="Phone number" required>
						</div>
						<div class="mb-4">
							<textarea class="form-control bg-transparent" id="type-message" rows="3"
								placeholder="Type your message" required></textarea>
						</div>
						<div class="text-center">
							<a href="{{ url_for('about') }}"><button type="submit" class="btn"><span>Send</span></button></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	img{object-fit: cover;object-position: center;}
	.blur-load{background-size: cover;background-position: center; border-radius: 5px;  }
	.blur-load.loaded > img {
		opacity: 1;
	}
	.blur-load > img { opacity: 0; transition: opacity 200ms ease-in-out; }
</style>

<!-- ----------img-load---------- -->
<script>
	const blurDivs= document.querySelectorAll(".blur-load")
	blurDivs.forEach(div => {
		const img = div.querySelector("img")

		function loaded(){
			div.classList.add("loaded")
		}
		if (img.complete) {
			loaded()
		} {
			img.addEventListener("load", loaded)
		}
	})
</script>
<script>
	const sections = document.querySelectorAll('section');
	document.addEventListener("scroll", function() {
		sections.forEach(section => {
			const sectionTop = section.getBoundingClientRect().top;
			const windowHeight = window.innerHeight;

			if (sectionTop < windowHeight * 0.75) {
				section.classList.add('animate-on-scroll');
			} else {
				section.classList.remove('animate-on-scroll');
			}
		});
	});
</script>

<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="productContactModal" tabindex="-1" aria-labelledby="productContactModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-body">
			<form action="">
				<h4 class="text-capitalize black-color">Corinto Deluxe Donna </h4>
				<h5 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need <b class="main-color">Information?</b> We're Here to <b class="main-color">Help!</b></h5>
				<div class="mb-3">
					<input type="text" class="form-control" id="name" placeholder="Name" required>
				  </div>
				<div class="mb-3">
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" required>
				  </div>
				  <div class="mb-3">
					<input type="tel" class="form-control" id="phone" placeholder="Phone number" required>
				  </div>
				  <div class="mb-4">
					<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." required></textarea>
				  </div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn close-modal-btn" data-bs-dismiss="modal"><span>Close</span></button>
		  	<button type="submit" class="btn"><span>Send</span></button>
		</div>
	  </div>
	</div>
  </div>
<script>
	$('.js-anchor-link').click(function(e){
  e.preventDefault();
  var target = $($(this).attr('href'));
  if(target.length){
    var scrollTo = target.offset().top;
    $('body, html').animate({scrollTop: scrollTo+'px'}, 800);
  }
});
</script>
</div>
<!--================ contact-us end ================-->

{% endblock %}