{% extends "base.html" %}


{% block content %}
	<!-- ================ HEADER-TITLE ================ -->
	<section class="s-header-title">
		<div class="container">
			<h4 class="black-color text-capitalize letter-space-value line-gap fw-bold"><b class="main-color">Model</b> Details</b></h4>
		</div>
	</section>
	<!-- ============== HEADER-TITLE END ============== -->

	<!-- ============== S-SINGLE-PRODUCT ============== -->
	<section class="s-single-product">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7">
					<!--===== SLIDER-SINGLE-FOR =====-->
					<div class="slider-single-for">
						<div class="slide-single-for">
							<a href="{{ url_for('static', filename='img/product-detail-1.jpg') }}" class="single-for-img" data-fancybox="prod1">
								<img src="{{ url_for('static', filename='img/product-detail-1.jpg') }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="{{ url_for('static', filename='img/product-details-1.jpg') }}" class="single-for-img" data-fancybox="prod1">
								<img src="{{ url_for('static', filename='img/product-details-1.jpg') }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="{{ url_for('static', filename='img/product-details-2.jpg') }}" class="single-for-img" data-fancybox="prod1">
								<img src="{{ url_for('static', filename='img/product-details-2.jpg') }}" alt="img">
							</a>
						</div>
						<div class="slide-single-for">
							<a href="{{ url_for('static', filename='img/product-details-3.jpg') }}" class="single-for-img" data-fancybox="prod1">
								<img src="{{ url_for('static', filename='img/product-details-3.jpg') }}" alt="img">
							</a>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-FOR END ===-->
					<!--===== SLIDER-SINGLE-NAV =====-->
					<div class="slider-single-nav">
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ url_for('static', filename='img/product-detail-1.jpg') }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ url_for('static', filename='img/product-details-1.jpg') }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ url_for('static', filename='img/product-details-2.jpg') }}" alt="img">
							</div>
						</div>
						<div class="slide-single-nav">
							<div class="single-nav-img">
								<img src="{{ url_for('static', filename='img/product-details-3.jpg') }}" alt="img">
							</div>
						</div>
					</div>
					<!--=== SLIDER-SINGLE-NAV END ===-->
				</div>
				<div class="col-12 col-md-5 single-shop-left">
					<h4 class="title text-capitalize">Corinto Deluxe Donna</h4>
					<p>The Corinto Deluxe Donna boasts a striking design that captivates with its sleek lines and graceful curves. Every aspect of this bicycle is thoughtfully considered, from its lightweight frame to its premium components, ensuring an exceptional riding experience. </p><br>
					<p>Equipped with high-performance features, this bicycle delivers a smooth and responsive ride. Whether you're navigating busy city streets or exploring scenic countryside routes, the Corinto Deluxe Donna offers a perfect blend of agility, stability, and control.</p>
					<a href="#" class="btn mt-4"  data-bs-toggle="modal" data-bs-target="#productContactModal"><span>Enquire Now</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-SINGLE-PRODUCT END ============ -->

	<!--=============== SINGLE-SHOP-TABS ===============-->
	<section class="single-shop-tabs">
		<div class="container">
			<div class="tab-wrap">
				<ul class="tab-nav product-tabs">
					<li class="item" rel="tab1"><span>Description</span></li>
					<li class="item" rel="tab3"><span>Q&A</span></li>
				</ul>
				<div class="tabs-content">
					<div class="tab tab1">
						<div class="row">
							<div class="col-lg-8">
								<table class="table table-bordered">
									<thead>
										<tr>
										  <th scope="col">Accessories</th>
										  <th scope="col">Description</th>
										</tr>
									</thead>
									  <tbody>
										<tr>
										  <td>Copertone</td>
										  <td>26 x 1 3/8 - 700x35</td>
										</tr>
										<tr>
										  <td>Dimensioni ruota</td>
										  <td>Ruote 28" Ruote 26"</td>
										</tr>
										<tr>
											<td>Cerchi</td>
											<td>R anodizzati lucidi</td>
										</tr>
										<tr>
											<td>Raggi</td>
											<td>Acciaio Inox</td>
										</tr>
										<tr>
											<td>Forcella</td>
											<td>Acciaio</td>
										</tr>
										<tr>
											<td>Freni</td>
											<td>A bacchetta pistoncino</td>
										</tr>
										<tr>
											<td>Mozzi</td>
											<td>Lega</td>
										</tr>
										<tr>
											<td>Manopole</td>
											<td>Gomma</td>
										</tr>
										<tr>
											<td>Freni</td>
											<td>A bacchetta pistoncino</td>
										</tr>
										<tr>
											<td>Sella</td>
											<td>Brooks</td>
										</tr>
										<tr>
											<td>Carter</td>
											<td>R intero</td>
										</tr>		
										<tr>
											<td>Cavalletto</td>
											<td>doppio cavalletto</td>
										</tr>	
										<tr>
											<td>Pedali</td>
											<td>pedale taurus + pedale nero + pedale legno</td>
										</tr>	
										<tr>
											<td>Altezza</td>
											<td>26 3/8 H. 54CM / 28"H.56 CM / 28"H.60CM</td>
										</tr>	
										<tr>
											<td>Marce</td>
											<td>1V + 3V mozzo cambio</td>
										</tr>	
										<tr>
											<td>Colore</td>
											<td>Bianco + nero + blu diplomatico + grigio taurus + verde taurus + panna</td>
										</tr>	
										<tr>
											<td>Materiale</td>
											<td>Acciaio a congiunzioni</td>
										</tr>
										<tr>
											<td>Accessori</td>
											<td>1V + 3V mozzo cambio</td>
										</tr>
										<tr>
											<td>cerchio in legno + campanello taurus + campanello</td>
											<td>Pedalata assistita</td>
										</tr>						
									</tbody>
								  </table>
							</div>
							<!-- <div class="col-lg-">
								<div class="single-video">
									<a href="#" class="popup-open play_video btn-video" rel="action1" style="background-image: url(assets/img/video-bg.jpg);"><i class="fa fa-play" aria-hidden="true"></i></a>
								</div>
							</div> -->
						</div>
					</div>
					
					<div class="tab tab3">
						<div class="faq-item">
							<h5 class="title"><span>I already own a bike. Why do I need bike share?</span></h5>
							<p>The power of enabling one-way trips rather than a forced round trip due to having a personal vehicle is transformative. Bike share opens up mobility options that weren’t previously convenient and makes public transit more viable. It also enables greater access to multi-modal trips where you may use bike share for the first part of your trip, but may take the trolley, a car service or even catch a ride with a friend on the way home.</p>
						</div>
						<div class="faq-item">
							<h5 class="title"><span>Tell me about the bikes.</span></h5>
							<p>Our smart-bikes from Social Bicycles (SoBi) have brains! This sets them apart from other bike-share systems. On the back of the bike is a GPS-enabled, solar-powered panel with an on-board lock.</p>
							<p>With this panel, you can check out the bike, unlock and lock it, put it on hold and report a problem. It will even let you know how many miles you rode and how many calories you burned by logging into your Social Bicycles account.</p>
							<p>One of our favorite features on our bikes is the chainless shaft drive. You won’t have to worry about your pants getting caught or getting greasy! They also have nifty extras like 3 speeds, an adjustable seat post, front and rear lights that illuminate automatically, a large, full-sized basket, puncture resistant tires and a bell (just above the left hand grip – give it a turn!).</p>
						</div>
						<div class="faq-item">
							<h5 class="title"><span>What are Coast Hub Stations and Park and Go racks?</span></h5>
							<p>A Coast Hub station is where you go to find, check out and return a bike. It’s equipped with bikes and racks that the bikes are locked to.</p>
							<p>Locking outside of a station will incur a $3 convenience fee. You’ll also see designated Park and Go racks at businesses around town. This is free Coast parking, so feel free to park here as well!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--============= SINGLE-SHOP-TABS END =============-->

	
	<!-- Modal -->
<div class="modal fade" style="z-index: 999999;" id="productContactModal" tabindex="-1" aria-labelledby="productContactModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-body">
			<form action="">
				<h4 class="text-capitalize black-color">Corinto Deluxe Donna </h4>
				<h5 class=" fw-lighter text-color mt-2 text-capitalize mb-4">Need <b class="main-color">Information?</b> We're Here to <b class="main-color">Help!</b></h5>
				<div class="mb-3">
					<input type="text" class="form-control" id="name" placeholder="Name" required>
				  </div>
				<div class="mb-3">
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email address" required>
				  </div>
				  <div class="mb-3">
					<input type="tel" class="form-control" id="phone" placeholder="Phone number" required>
				  </div>
				  <div class="mb-4">
					<textarea class="form-control" id="type-message" rows="3" placeholder="Type your inquiry here..." required></textarea>
				  </div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn close-modal-btn" data-bs-dismiss="modal"><span>Close</span></button>
		  	<button type="submit" class="btn"><span>Send</span></button>
		</div>
	  </div>
	</div>
  </div>

	<!--============= RELATED PRODUCTS END =============-->

	{% endblock %}
	