{% extends "base.html" %}

{% block content %}
    
<section class="profile" id="vue-profile">
    <div class="container">
        <h4>My Profile</h4>
        <div class="profile-details" style="margin-bottom: 20vh;">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <img src="{{ url_for('static', filename='img/profile/user_default1.jpeg')}}" alt="image" class="img-fluid"> 
                        <h5 class="text-center black-color mt-3 profile-name">[[ first_name + ' ' + last_name ]]</h5>
                    </div>
                </div>
                <div class="col-md-7">
                        <div class="card">
                            <h5>Personal Details</h5>
                            <p class="mt-2">To change your personal detail , edit and save from here</p>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="firstname" class="form-label">First Name</label>
                                            <input type="text" class="form-control" placeholder="Enter first name"  @input="is_changed = true" v-model="first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastname" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Enter last name" @input="is_changed = true" v-model="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="email" class="form-control" placeholder="Enter email address"  @input="is_changed = true" v-model="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Phone Number</label>
                                            <input type="tel" class="form-control" placeholder="Enter phone number" v-model="phone" @input="is_changed = true">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="float-left" style="float: inline-end;">
                                            <button
                                                type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                 class="link">Reset Password</button>
                                                
                                            <button 
                                                class="btn"
                                                :disabled="!is_changed"
                                                @click.prevent="updateProfile">
                                                <span v-if="loading">
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
                                                </span>
                                                <span v-else>Save</span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="current_password" class="form-label">Current Password</label>
                    <input type="password" class="form-control" id="current_password" placeholder="Enter current password" v-model="current_password">
                </div>
                <div class="mb-3">
                    <label for="new_password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new_password" placeholder="Enter new password" v-model="new_password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" v-model="confirm_password">
                </div>
                </form>
                
            </div>
            <div class="modal-footer">
            <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
            <button type="button" 
                class="btn btn-primary"
                @click.prevent="resetPassword"
                >Reset Password</button>
            </div>
        </div>
        </div>
    </div>
</section>
<script>
    var app = new Vue({
             el: '#vue-profile',
             delimiters: ['[[', ']]'],
             data: {
                message: 'Hello Vue!',
                first_name: '',
                last_name: '',
                email: '',
                phone: '',
                is_changed: false,
                loading: false,
                current_password: '',
                new_password: '',
                confirm_password: ''
             },
             methods: {
                 fetchProfile() {
                     axios.post('/api/fetch/user/profile')
                         .then(response => {
                             this.first_name = response.data.first_name;
                             this.last_name = response.data.last_name;
                             this.email = response.data.email;
                             this.phone = response.data.phone;
                         })
                         .catch(error => {
                             console.log(error);
                         });
                 },
                    updateProfile() {
                        this.loading = true;

                        axios.post('/api/update/user/profile', {
                            first_name: this.first_name,
                            last_name: this.last_name,
                            email: this.email,
                            phone: this.phone
                        })
                            .then(response => {
                                console.log(response.data);
                                this.is_changed = false;
                                this.loading = false;
                                this.sendNotification('Profile Updated Successfully', 'green');
                            })
                            .catch(error => {
                                console.log(error);
                                this.is_changed = false;
                                this.loading = false;
                                this.sendNotification('Error Updating Profile', 'red');
                            });
                    },
                    resetPassword() {
                        axios.post('/api/reset/user/password', {
                            current_password: this.current_password,
                            new_password: this.new_password,
                            confirm_password: this.confirm_password
                        })
                            .then(response => {
                                console.log(response.data);
                                // close modal
                                $('#exampleModal').modal('hide');
                                this.sendNotification('Password Reset Successful', 'green');
                            })
                            .catch(error => {
                                console.log(error);
                                this.sendNotification('Error Resetting Password :'+ error.response.data.message, 'red');       
                            });
                    },
                    sendNotification(message, type) {
                        Toastify({
                            text: message,
                            duration: 3000,
                            gravity: "top", // `top` or `bottom`
                            position: 'right', // `left`, `center` or `right`
                            backgroundColor: type,
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            onClick: function () { } // Callback after click
                        }).showToast();

                    },
                    
             },
             mounted() {
                    this.fetchProfile();
             }
         });
 </script>
 <style>
    .link{
        background: none;
        border: none;
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
    }
 </style>
{% endblock %}